.SearchInputForm {
  position: relative;
  border-radius: 100px;
  padding-right: 1.5rem;
  padding-left: 2.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1rem ;
  margin-left: 1rem;
  background-color: #edf0f2;
  align-items: center;
  align-items: center;
  border: 1px solid #edf0f2;
  display: flex;
  .SearchInput {
      border-color: transparent;
      box-shadow: none;
      background-color: transparent;
      border: 2px solid #edf0f2;
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      font-family: IRANSans;
      line-height: 1.5;
      color: #495057;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  svg {
    position: absolute;
    top: 50%;
    left: .75rem;
    transform: translate(0, -50%);
    color: rgba(39, 44, 51, 0.4);
  }
}