.Table {
    width: 100%;
    direction: rtl;
    font-family: IRANSans;
    thead {
        th {
            font-family: IRANSans;
            font-weight: 500;
            font-size: 14px;
            padding: .75rem;
            background: #f3f3f3;
            border-bottom: 2px solid #dee2e6;
            &:first-of-type {
                border-top-right-radius: 4px;
            }
            &:last-of-type {
                border-top-left-radius: 4px;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: .75rem;
                font-size: 14px;
                border-bottom: 1px solid #dee2e6;
                background: #fff;
                vertical-align: center;
                text-align: center;
                .ActionsTableCell {
                    text-align: right;
                }
            }
            &:hover {
                td {
                    background-color: rgba(0,0,0,.075);
                }
            }
        }
    }
}
.ActionButton {
    padding: 0;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: .5rem;
    .DeleteIcon {
        color: #f44336;
    }
    .EditIcon {
        color: #0091EA;
    }
    .ConfirmIcon {
        color: #388e3c;
    }
    .UnConfirmIcon {
        color: #ef6c00;
    }
    .ReplyIcon {
        color: #263238;
    }
}
.InputElement {
    border: 2px solid #edf0f2;
    background: #edf0f2;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    &:focus {
      border-bottom-color: #5567ff;
    }
  }