.SelectablePropertyItem {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.dFlex {
  display: flex;
  margin-bottom: 1rem;
}

.InputLabel {
  margin-left: .5rem;
  display: flex;
  align-items: center;
}

.InputElement {
  margin-bottom: 0 !important;
  margin-left: 1rem;
}

.DeleteButton {
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #f4511e;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(45%, -45%);
  cursor: pointer;

  .DeleteIcon {
    font-size: 14px;
  }
}