.ItemSelector {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .SelectorHeader {
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-bottom: 1px solid #ccc;

        span {
            font-size: 15px;
            color: #636b74;
        }
    }

    .SelectroItems {
        display: flex;
        flex-wrap: wrap;
        padding: 0 1rem;
        overflow-y: auto;
        flex: 1 0;
        padding: 1rem;

        &.noPadding {
            padding: 0;
        }
    }

    .SelectorFooter {
        height: 64px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 1rem;
        border-top: 1px solid #d2e2e9;
    }
}