.Navbar {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/11;

  .Title {
    padding: 0 1rem;
    width: 40%;
    color: #636b74
  }
  .NavbarLeft {
    flex: 1 0 0;
    display: flex;
    padding: 0 1rem;
    .SearchBox {
      margin-right: .5rem;
    }
  }
}