.FileItem {
  width: 24%;
  margin-left: 1%;
  display: inline-block;
  margin-bottom: 1rem;
  .ImageContainer {
    width: 100%;
    position: relative;
    border: 3px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    .CehckBox {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      right: 5px;
      background-color: #1ab937;
      box-shadow: 0 0 3px #1ab93785;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      display: none;
      .CheckIcon {
        color: #fff;
        font-size: 18px;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:before {
      content: '';
      padding-bottom: 100%;
      display: block;
    }
  }
  .Caption {
    display: flex;
    direction: ltr;
    width: 100%;
    .Details {
      flex: 1 0 0;
      font-size: 15px;
      padding:.4rem .5rem;
      overflow: hidden;
      .FileName {
        color: #838791;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        margin-bottom: 3px;
        &:before {
          content: attr(data-title);
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          visibility: hidden;
          opacity: 0;
          transition: .5s;
          background: #f1f4f8;
        }
        &:hover:before {
          visibility: visible;
          opacity: 1;
        }
      }
      .FileSize {
        color: #9ba3aa;
        font-size: 14px;
      }
    }
    .Options {
      position: relative;
      height: 100%;
      .deleteButton,
      .EditButton {
        padding: 0;
        padding-bottom: .2rem;
        display: block;
        background: none;
        height: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        .DeleteIcon {
          font-size: 18px;
          color: #d50000;
        }
        .EditIcon {
          font-size: 18px;
          color: #1565c0;
        }
        &:hover .MoreIcon{
          color: #303030;
        }
      }
    }
  }
  &.active {
    .ImageContainer {
      border-color: #a2eab1;
    }
    .CehckBox {
      display: inline-block;
    }
  }
  &.IconItem {
    .ImageContainer {
      background: none;
      .FileIcon {
        color: #48535f;
        font-size: 45px;
      }
      &::before {
        display: none;
      }
    }
  }
}