.SubmenuContainer {
  .SubmenuList {
    position: relative;
    li {
      // display: flex;
      margin-left: 1rem;
      a {
        display: block;
        margin-right: 2.2rem;
        padding-right: 1.5rem;
        font-size: 14px;
        border-right: 1px solid #e9edf2;
        position: relative;
        &.active{
          &:before{ 
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            width: 8px;
            height: 8px;
            background-color: #00bcc2;
            border-radius: 50%;
            display: block;
          }
        }
      }
    }
  }

}