.SearchBox {
  position: relative;
  height: 33px;
  width: 180px;
  .SearchInput {
    width: 100%;
    height: 33px;
    padding: .3rem 0;
    padding-left: 30px;
    padding-right: .5rem;
    font-size: 14px;
    transition: .3s;
    border: 2px solid #e2e7ef;
    border-radius: 4px;
    outline: none;
    background: none;
    color: #495057;
    &:focus {
      border-color: #cfd4db
    }
  }
  .SearchIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-45%);
    color: #768292;
  }
}