.SelectorTableHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;

    .HeaderItem {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            margin: 0;
        }
    }
}