.tableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    width: 100%;

    .tableCell {
        text-align: center;
        padding: .5rem;

        div {
            margin: 0;
        }
    }
}