.Navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    background: rgb(245, 247, 250);
    box-shadow: 0 6px 6px -3px rgba(39, 44, 51, 0.1), 0 10px 14px 1px rgba(39, 44, 51, 0.04), 0 4px 18px 3px rgba(39, 44, 51, 0.02);
    .TitleContainer {
        height: 100%;
        line-height: 64px;
        padding: 0 2rem;
    }
    .NavbarLeft {
        margin-right: auto;
        display: flex;
        align-content: center;
        height: 100%;
        .SettingsButton {
            margin: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 64px;
            width: 64px;
            background-color: none;
            border: none;
            border-right: 2px solid #e9edf2 !important;
            color: rgba(0, 0, 0, .5);
            background: none;
        }
    }
}