@charset "UTF-8";
@-webkit-keyframes is-loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes is-loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes hide-bottom {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(10%, 20%) scale(0.9);
            transform: translate(10%, 20%) scale(0.9);
    visibility: hidden;
  }
}

@keyframes hide-bottom {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(10%, 20%) scale(0.9);
            transform: translate(10%, 20%) scale(0.9);
    visibility: hidden;
  }
}

@-webkit-keyframes show-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translate(10%, 20%) scale(0.9);
            transform: translate(10%, 20%) scale(0.9);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    visibility: visible;
  }
}

@keyframes show-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translate(10%, 20%) scale(0.9);
            transform: translate(10%, 20%) scale(0.9);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    visibility: visible;
  }
}

@-webkit-keyframes hide-scale {
  0% {
    opacity: 1;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10%, -20%) scale(1.1);
            transform: translate(-10%, -20%) scale(1.1);
    visibility: hidden;
  }
}

@keyframes hide-scale {
  0% {
    opacity: 1;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10%, -20%) scale(1.1);
            transform: translate(-10%, -20%) scale(1.1);
    visibility: hidden;
  }
}

@-webkit-keyframes show-scale {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10%, -20%) scale(1.1);
            transform: translate(-10%, -20%) scale(1.1);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    visibility: visible;
  }
}

@keyframes show-scale {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10%, -20%) scale(1.1);
            transform: translate(-10%, -20%) scale(1.1);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    visibility: visible;
  }
}

.font-size-50px {
  font-size: 50px;
}

.font-size-50px {
  font-size: 50px;
}

.btn-accent {
  background-color: #00bbc1;
  color: white;
  border: 1px solid #00bbc1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-accent:hover {
  border: 1px solid #009ba0;
  background-color: #009ba0;
  color: white;
}

.btn-accent:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn-accent-outline {
  background-color: transparent;
  border: 1px solid #00bbc1;
  color: #00bbc1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-accent-outline:hover {
  background-color: #00bbc1;
  color: white;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-accent-outline:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn-primary {
  background-color: #5567ff;
  color: white;
  border: 1px solid #5567ff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-primary:hover {
  border: 1px solid #2f45ff;
  background-color: #2f45ff;
  color: white;
}

.btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn-primary-outline {
  background-color: transparent;
  border: 1px solid #5567ff;
  color: #5567ff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-primary-outline:hover {
  background-color: #5567ff;
  color: white;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-primary-outline:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn-secondary {
  background-color: #868e96;
  color: white;
  border: 1px solid #868e96;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-secondary:hover {
  border: 1px solid #71777e;
  background-color: #71777e;
  color: white;
}

.btn-secondary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn-secondary-outline {
  background-color: transparent;
  border: 1px solid #868e96;
  color: #868e96;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-secondary-outline:hover {
  background-color: #868e96;
  color: white;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-secondary-outline:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn {
  font-family: 'iranSans';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-link {
  color: #868e96;
}

.btn-link:hover {
  color: #71777e;
}

.btn-rounded {
  border-radius: 100px;
}

.btn-disabled {
  pointer-events: none;
  opacity: .5;
}

.btn-block {
  width: 100%;
}

.form-control {
  background-color: #edf0f2;
  border: none;
  border: 2px solid #edf0f2;
}

.form-control:focus, .form-control:invalid {
  background-color: #edf0f2;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 400;
}

.form-control::-webkit-input-placeholder {
  color: #aaa;
}

.form-control:-ms-input-placeholder {
  color: #aaa;
}

.form-control::-ms-input-placeholder {
  color: #aaa;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control-rounded {
  border-radius: 20rem;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.input-group-merge {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.input-group-merge .form-control-prepended {
  padding-left: 0;
  border-left-width: 0;
  border-radius: .25rem 0 0 .25rem !important;
}

.input-group-merge .input-group-prepend .input-group-text {
  border-radius: 0 .25rem .25rem 0 !important;
  border: 0;
  background-color: #edf0f2;
}

.custom-control label {
  right: 25px;
}

.custom-control label:after {
  left: 0;
  right: -1.5rem;
}

.custom-control label:before {
  left: 0;
  right: -1.5rem;
}

.custom-file-label::after {
  content: "انتخاب" !important;
  background-color: #868e96;
  right: unset;
  left: -2px;
  border-radius: .25rem 0 0 .25rem;
  color: white;
  content: "Browse";
}

.form-control.invalid {
  border: 1px solid #d9534f;
}

.form-control.valid {
  border: 1px solid #77c13a;
}

.form-control:focus {
  border-color: #edf0f2;
  border-bottom: 2px solid #5567ff;
}

.append-validation-icon {
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

.append-validation-icon:before {
  font-family: "Material Icons";
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.append-validation-icon.valid, .append-validation-icon.invalid {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.append-validation-icon.valid::before {
  content: "\e876";
  color: #77c13a;
}

.append-validation-icon.invalid::before {
  content: "\e001";
  color: #d9534f;
}

.form-label {
  font-size: 14px;
  font-weight: 300;
  display: block;
}

.invalid .cke {
  border: 1px solid #d9534f;
}

.valid .cke {
  border: 1px solid #77c13a;
}

.main-menu-item .level-indicator {
  position: relative;
}

.main-menu-item .level-indicator span {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 30%;
  width: 1px;
  background: #ced3d8;
}

.submenu-item {
  background: rgba(0, 0, 0, 0.03);
}

.submenu-item .level-indicator {
  position: relative;
}

.submenu-item .level-indicator span {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 1px;
  background: #ced3d8;
}

.level-indicator i {
  color: #5567ff;
  z-index: 2;
}

input[name="url"],
input[name="Url"],
input[name="URL"] {
  direction: ltr;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

.popup .popup-bg {
  background: black;
  opacity: .2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.popup .popup-body {
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  max-height: 75%;
  min-height: 500px;
  background-color: #f5f5f5;
  color: #303030;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: relative;
  overflow-wrap: break-word;
  overflow-y: auto;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.popup .popup-body .popup-drawer {
  width: 220px;
  min-height: 100%;
  background: #fff;
}

.popup .popup-body .popup-drawer .popup-sidebar {
  height: 100%;
  width: 100%;
  padding: 1.5rem 1rem;
}

.popup .popup-body .popup-drawer .popup-sidebar .popup-sidebar-menu {
  margin: 0;
  padding: 0;
}

.popup .popup-body .popup-drawer .popup-sidebar .popup-sidebar-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: .6rem;
  color: #a9afb8;
  cursor: pointer;
}

.popup .popup-body .popup-drawer .popup-sidebar .popup-sidebar-menu li a img {
  width: 20px;
  margin-right: 1rem;
}

.popup .popup-body .popup-drawer .popup-sidebar .popup-sidebar-menu li a.active {
  color: #636b74;
}

.popup .popup-body .popup-content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #f1f4f8;
}

.popup .popup-body .popup-content .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup .popup-body .popup-content .navbar .breadcrumb-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.popup .popup-body .popup-content .navbar .breadcrumb-container .breadcrumb {
  background: none;
  margin-bottom: 0;
}

.popup .popup-body .popup-content .navbar .breadcrumb-container .breadcrumb li {
  font-size: 14px;
  color: #a7b3c2;
}

.popup .popup-body .popup-content .navbar .filter-box .search-group {
  position: relative;
}

.popup .popup-body .popup-content .navbar .filter-box .search-group i {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #768292;
}

.popup .popup-body .popup-content .navbar .filter-box .search-group .form-control {
  background: none;
  border-color: #e2e7ef;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .video-thumbnail {
  display: none;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
  border: none;
  width: 116px;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button .text {
  white-space: nowrap;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button check-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button check-icon svg {
  width: 20px;
  height: 20px;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button check-icon svg path {
  stroke-dasharray: 120px;
  stroke-dashoffset: 120px;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button custom-spinner {
  position: absolute;
  display: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button .progress-bar {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 0;
  height: 2px;
  background: #00bbc1;
  -webkit-transition: .5s;
  transition: .5s;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button.uploading {
  width: 85px;
  padding-left: 30px;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button.uploading .fa-plus {
  display: none;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button.uploading custom-spinner {
  display: block;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button.uploaded {
  width: 85px;
  padding-left: 30px;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button.uploaded .fa-plus {
  display: none;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button.uploaded check-icon {
  display: block;
}

.popup .popup-body .popup-content .navbar .filter-box #video-form .upload-video-button.uploaded check-icon svg path {
  stroke-dashoffset: 0;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
  border: none;
  width: 116px;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button .text {
  white-space: nowrap;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button check-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button check-icon svg {
  width: 20px;
  height: 20px;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button check-icon svg path {
  stroke-dasharray: 120px;
  stroke-dashoffset: 120px;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button custom-spinner {
  position: absolute;
  display: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button .progress-bar {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 0;
  height: 2px;
  background: #00bbc1;
  -webkit-transition: .5s;
  transition: .5s;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button.uploading {
  width: 85px;
  padding-left: 30px;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button.uploading .fa-plus {
  display: none;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button.uploading custom-spinner {
  display: block;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button.uploaded {
  width: 85px;
  padding-left: 30px;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button.uploaded .fa-plus {
  display: none;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button.uploaded check-icon {
  display: block;
}

.popup .popup-body .popup-content .navbar .filter-box #image-form .upload-image-button.uploaded check-icon svg path {
  stroke-dashoffset: 0;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .file-thumbnail {
  display: none;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
  border: none;
  width: 116px;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button .text {
  white-space: nowrap;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button check-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button check-icon svg {
  width: 20px;
  height: 20px;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button check-icon svg path {
  stroke-dasharray: 120px;
  stroke-dashoffset: 120px;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button custom-spinner {
  position: absolute;
  display: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button .progress-bar {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 0;
  height: 2px;
  background: #00bbc1;
  -webkit-transition: .5s;
  transition: .5s;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button.uploading {
  width: 85px;
  padding-left: 30px;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button.uploading .fa-plus {
  display: none;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button.uploading custom-spinner {
  display: block;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button.uploaded {
  width: 85px;
  padding-left: 30px;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button.uploaded .fa-plus {
  display: none;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button.uploaded check-icon {
  display: block;
}

.popup .popup-body .popup-content .navbar .filter-box #file-form .upload-file-button.uploaded check-icon svg path {
  stroke-dashoffset: 0;
}

.popup .popup-body .popup-content .content {
  padding-top: 0;
  width: 100%;
  max-width: 100%;
  height: calc(100% - 124px - 1rem);
  overflow-y: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.popup .popup-body .popup-content .content .file-item {
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  text-align: left;
  padding: 0;
  width: 23%;
  margin-right: 2%;
  margin-bottom: .5rem;
}

.popup .popup-body .popup-content .content .file-item .image-container {
  width: 100%;
  position: relative;
  border: 3px solid transparent;
  border-radius: 3px;
}

.popup .popup-body .popup-content .content .file-item .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.popup .popup-body .popup-content .content .file-item .image-container .check {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #1ab937;
  -webkit-box-shadow: 0 0 3px #1ab93785;
          box-shadow: 0 0 3px #1ab93785;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  z-index: 1;
}

.popup .popup-body .popup-content .content .file-item .image-container:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.popup .popup-body .popup-content .content .file-item .caption {
  position: relative;
  max-width: 100%;
  padding: .5rem;
  padding-top: .4rem;
}

.popup .popup-body .popup-content .content .file-item .caption span {
  display: block;
  font-size: 14px;
  width: calc(100% - 1rem);
}

.popup .popup-body .popup-content .content .file-item .caption span.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #969aa5;
}

.popup .popup-body .popup-content .content .file-item .caption span.file-size {
  color: #b3b8bd;
}

.popup .popup-body .popup-content .content .file-item .caption .more-btn-container {
  position: absolute;
  width: 1rem;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s;
  transition: .2s;
}

.popup .popup-body .popup-content .content .file-item .caption .more-btn-container .more-btn {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: .5rem 0;
  cursor: pointer;
}

.popup .popup-body .popup-content .content .file-item .caption .more-btn-container .more-btn .more-icon {
  width: 22px;
  height: 21px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: .5rem;
  left: 50%;
  opacity: 0.5;
  -webkit-transition: .3s;
  transition: .3s;
}

.popup .popup-body .popup-content .content .file-item .caption .more-btn-container .more-btn:hover .more-icon {
  opacity: 1;
}

.popup .popup-body .popup-content .content .file-item .caption .more-btn-container .file-dropdown-menu {
  right: -0.6rem;
  left: auto;
  top: 2rem;
  bottom: unset;
}

.popup .popup-body .popup-content .content .file-item .caption .more-btn-container .file-dropdown-menu .dropdown-item {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup .popup-body .popup-content .content .file-item .caption .more-btn-container .file-dropdown-menu .dropdown-item svg {
  height: 15px;
  width: 15px;
  margin-left: .5rem;
  fill: #7a8a9e;
}

.popup .popup-body .popup-content .content .file-item .caption .more-btn-container .file-dropdown-menu .dropdown-item:hover svg {
  fill: #515e6e;
}

.popup .popup-body .popup-content .content .file-item.active .image-container {
  border-color: #a2eab1;
}

.popup .popup-body .popup-content .content .file-item.active .image-container img {
  border-radius: 0;
}

.popup .popup-body .popup-content .content .file-item.active .image-container .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup .popup-body .popup-content .content .file-item.dropdown-open .caption .more-btn-container {
  visibility: visible;
  opacity: 1;
}

.popup .popup-body .popup-content .content .file-item.dropdown-open .caption .more-btn-container .more-btn .more-icon {
  opacity: 1;
}

.popup .popup-body .popup-content .content .file-item:hover .caption .more-btn-container {
  visibility: visible;
  opacity: 1;
}

.popup .popup-body .popup-content .content::-webkit-scrollbar {
  width: 5px;
}

.popup .popup-body .popup-content .content::-webkit-scrollbar-track {
  background-color: #ebebeb;
  border-radius: 10px;
}

.popup .popup-body .popup-content .content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a5a5a5;
}

.popup .popup-body .popup-content .footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #d2e2e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.popup .popup-body .popup-content .popup-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
  text-align: right;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.popup .popup-body .popup-content .popup-modal .title {
  margin-bottom: .5rem;
}

.popup .popup-body .popup-content .popup-modal .alt_fa_input label {
  display: block;
  margin-bottom: .3rem;
}

.popup .popup-body .popup-content .popup-modal .alt_en_input label {
  display: block;
  margin-bottom: .3rem;
}

.popup .popup-body .popup-content .popup-modal.open {
  visibility: visible;
  opacity: 1;
}

.popup .file-rename-form {
  direction: ltr;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  width: 400px;
  background-color: #f5f5f5;
  color: #303030;
  border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: -1;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.popup .file-rename-form h1 {
  color: #636b74;
  font-size: 1rem;
  font-weight: 400;
}

.popup .file-rename-form .rename-submit-button {
  width: 82px;
}

.popup .file-rename-form.show {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.popup.show {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.slider-picker .picker-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-picker .picker-container .picker-item {
  width: 200px;
  margin-left: 1rem;
}

.slider-picker .picker-container .picker-item .image-container {
  display: inline-block;
  width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.slider-picker .picker-container .picker-item .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-picker .picker-container .picker-item .image-container:before {
  content: '';
  display: block;
  padding-bottom: 60%;
}

.slider-picker .picker-container .picker-item .image-container:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(66, 66, 66, 0.28);
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider-picker .picker-container .picker-item .image-container:hover:after {
  background: rgba(66, 66, 66, 0);
}

.slider-picker .picker-container .picker-item button.add-item {
  position: relative;
  width: 100%;
  background: #989898;
  border: none;
  outline: none;
  border-radius: 4px;
  overflow: hidden;
  padding: 0;
}

.slider-picker .picker-container .picker-item button.add-item .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

.slider-picker .picker-container .picker-item button.add-item:before {
  content: '';
  display: block;
  padding-bottom: 60%;
}

.slider-picker .picker-container .picker-item .item-caption {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-picker .picker-container .picker-item .item-caption span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  direction: ltr;
}

.spinner {
  width: 20px;
  height: 20px;
  display: none;
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.spinner-white .path {
  -webkit-animation: dash 1.4s ease-in-out infinite, white-color 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, white-color 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes white-color {
  0% {
    stroke: #fff;
  }
  100% {
    stroke: #fff;
  }
}

@keyframes white-color {
  0% {
    stroke: #fff;
  }
  100% {
    stroke: #fff;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: rtl;
  background-color: #f5f7fa;
}

.dir-ltr {
  direction: ltr;
}

* {
  font-family: IRANSans;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  color: rgba(39, 44, 51, 0.7);
}

a:hover {
  text-decoration: none;
}

button {
  outline: 0 !important;
}

.hide {
  display: none;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: initial;
  overscroll-behavior: none;
}

.layout .page-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: calc(100% - 256px);
  -webkit-transition: .5s;
  transition: .5s;
}

.layout .page-content .content {
  padding-top: 50px;
  width: 80%;
  margin: auto;
}

.dropdown-notifications .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: none;
  outline: none;
}

.dropdown-toggle-rtl:after {
  margin-left: 0;
  margin-right: .255em;
}

.dropdown-notifications .dropdown-toggle:after {
  display: none;
}

.dropdown-notifications .dropdown-toggle .material-icons {
  font-size: 2rem;
}

.badge-notifications {
  border-radius: 100px;
  padding: 0 .5rem;
  line-height: 1rem;
  font-weight: 700;
}

.badge-accent {
  color: #fff;
  background-color: #00bcc2;
}

.dropdown-notifications .badge-notifications {
  position: relative;
  display: block;
  margin-right: -.75rem;
}

.dropdown-menu {
  text-align: right;
  -webkit-box-shadow: 0 5px 5px -3px rgba(39, 44, 51, 0.2), 0 8px 10px 1px rgba(39, 44, 51, 0.14), 0 3px 14px 2px rgba(39, 44, 51, 0.12);
          box-shadow: 0 5px 5px -3px rgba(39, 44, 51, 0.2), 0 8px 10px 1px rgba(39, 44, 51, 0.14), 0 3px 14px 2px rgba(39, 44, 51, 0.12);
  display: block;
  visibility: hidden;
  opacity: 0;
  margin-top: 0 !important;
  -webkit-transition: opacity 0.2s cubic-bezier(0.3, 0.5, 0.5, 1), margin 0.2s cubic-bezier(0.1, 0.3, 0.8, 1), visibility 0.3s ease;
  -webkit-transition: opacity 0.1s cubic-bezier(0.3, 0.5, 0.5, 1), margin 0.2s cubic-bezier(0.1, 0.3, 0.8, 1), visibility 0.3s ease;
  transition: opacity 0.1s cubic-bezier(0.3, 0.5, 0.5, 1), margin 0.2s cubic-bezier(0.1, 0.3, 0.8, 1), visibility 0.3s ease;
  background-clip: initial;
  border: none !important;
}

table .dropdown-menu.show {
  -webkit-transform: unset !important;
          transform: unset !important;
}

.dropdown-notifications .dropdown-menu {
  width: 300px;
}

.dropdown-notifications .dropdown-menu .unread-indicator {
  display: inline-block;
  content: "";
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
}

.dropdown-menu.show,
.show > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  margin-top: .5rem !important;
}

.dropdown-menu:after {
  border: 8px solid transparent;
  border-bottom-color: #fff;
  content: "";
  height: 0;
  right: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.1s cubic-bezier(0.3, 0.5, 0.5, 1);
  transition: opacity 0.1s cubic-bezier(0.3, 0.5, 0.5, 1);
  position: absolute;
  top: calc(-8px + -.5rem);
  width: 1px;
}

.dropdown-menu-right {
  left: 0;
  right: auto;
}

.dropdown-menu-right:after {
  right: auto;
  left: 10px;
}

.dropdown-menu-top {
  top: unset !important;
  bottom: 100% !important;
}

.dropdown-menu-top:after {
  left: 10px;
  right: unset;
  top: unset;
  bottom: calc(-8px + -.5rem);
  border-top-color: #fff;
  border-bottom-color: transparent;
}

.dropdown-menu-top.show,
.show > .dropdown-menu-top {
  margin-bottom: 1.2rem;
}

.dropdown-menu.show:after,
.show > .dropdown-menu:after {
  opacity: 1;
}

.dropdown-header {
  color: #272c33;
  font-weight: 500;
  padding: .5rem 1rem;
}

.dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .2rem 1rem;
  color: rgba(39, 44, 51, 0.7);
}

.dropdown-notifications .dropdown-menu .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  border-color: rgba(39, 44, 51, 0.05);
}

.avatar {
  font-size: 1rem;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: relative;
  z-index: 0;
}

.avatar-xs {
  font-size: .54167rem;
  width: 1.625rem;
  height: 1.625rem;
}

.avatar-title {
  font-size: .707rem;
  font-weight: 500;
}

.filter-box input.form-control {
  height: 33px;
  padding-top: .3rem;
  padding-bottom: .3rem;
  font-size: 14px;
}

.filter-box select.form-control {
  height: 33px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13px;
}

.filter-box .btn {
  height: 33px;
  line-height: 33px;
  padding-top: 0;
  padding-bottom: 0;
}

.filter-title {
  color: rgba(39, 44, 51, 0.7);
  font-size: 12px;
  margin-left: .33333rem;
  white-space: nowrap;
}

.filter-input-container {
  height: 33px;
}

.custom-select {
  -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  display: inline-block;
  height: 33px;
  padding: 0 .75rem 0 1.75rem;
  font-size: 13px;
  line-height: 1.5;
  color: #272c33;
  vertical-align: middle;
  background: #edf0f1 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat left 0.75rem center/8px 10px;
  border: 1px solid #edf0f2;
  border-radius: .25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #edf0f2;
  border: 1px solid #edf0f2;
  border-radius: .25rem;
}

.search-form .btn + .form-control {
  padding-right: 0;
}

.search-form .form-control {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.search-form--light {
  background-color: #edf0f2;
  border-color: #edf0f2;
}

.search-form .material-icons {
  padding: 0 .75rem;
  font-size: 1.063rem;
  color: rgba(39, 44, 51, 0.4);
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-touch-action: auto;
      touch-action: auto;
}

.bg-body {
  background-color: #f5f7fa !important;
}

.bg-accent {
  background-color: #00bcc2 !important;
}

.border-right-2 {
  border-right: 2px solid #e9edf2 !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 0% !important;
          flex: 1 1 0% !important;
}

.ml-8pt {
  margin-left: .5rem !important;
}

.ml-16pt {
  margin-left: 1rem !important;
}

.mr-8pt {
  margin-right: .5rem !important;
}

.mr-16pt {
  margin-right: 1rem !important;
}

.mx-16pt {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mb-16pt {
  margin-bottom: 1rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.font-size-16pt {
  font-size: 1rem !important;
}

.font-size-14pt {
  font-size: .9rem !important;
}

.font-size-12pt {
  font-size: .75rem !important;
}

.icon-16pt {
  font-size: 1rem !important;
}

.icon-24pt {
  font-size: 1.5rem !important;
}

.text-accent {
  color: #00bcc2 !important;
}

.text-black-100 {
  color: #272c33 !important;
}

.text-black-70 {
  color: rgba(39, 44, 51, 0.7) !important;
}

.text-black-50 {
  color: rgba(39, 44, 51, 0.5) !important;
}

.text-black-20 {
  color: rgba(39, 44, 51, 0.2) !important;
}

.mb-heading {
  padding-bottom: 2rem;
}

.mb-heading .heading-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: rgba(39, 44, 51, 0.5);
  font-weight: 500;
  font-size: 12px;
}

.mb-heading .heading-breadcrumb .breadcrumb-item {
  padding-right: .5rem;
  padding-left: 0;
}

.mb-heading .heading-breadcrumb .breadcrumb-item a {
  color: rgba(39, 44, 51, 0.7);
  text-decoration: none;
  background-color: transparent;
}

.mb-heading .heading-breadcrumb .breadcrumb-item:before {
  content: "/";
  display: inline-block;
  padding-left: .5rem;
  padding-right: 0;
  color: #b8bdc2;
}

.mb-heading .heading-breadcrumb .breadcrumb-item:first-child {
  padding-right: 0;
}

.mb-heading .heading-breadcrumb .breadcrumb-item:first-child:before {
  content: '';
}

hr.heading-seprator {
  border-top: 2px solid #e9edf2;
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;
  margin-right: -20vw;
}

.card-heading {
  margin-bottom: 1rem;
  font-size: 18px;
}

.card {
  margin-bottom: 3em;
}

.stepper-container {
  padding-top: 7rem;
  padding-right: 0;
  padding-left: 0;
  min-height: 500px;
}

.stepper-container .stepper .stepper-item {
  color: rgba(39, 44, 51, 0.7);
  position: relative;
  padding: 0 17px 0 0;
  margin-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  cursor: pointer;
}

.stepper-container .stepper .stepper-item.active {
  font-weight: bold;
}

.stepper-container .stepper .stepper-item.active::before {
  background-color: #4aa2ee;
  border-color: #fff;
}

.stepper-container .stepper .stepper-item:before {
  content: "";
  position: absolute;
  background-color: #d2d5d9;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  right: -5px;
  top: 6px;
}

.stepper-container:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #e9edf2;
  z-index: -1;
}

@media (max-width: 991px) {
  .stepper-container {
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-right: 15px;
    margin-left: 15px;
    min-height: unset;
  }
}

.loader {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-animation: is-loading 1s linear infinite;
          animation: is-loading 1s linear infinite;
  border: 3px solid #272c33;
  border-bottom-color: transparent;
  border-radius: 50%;
  background: transparent;
}

.table th {
  background-color: #f3f3f3;
  border: 0;
  color: #868e96;
  font-size: 14px;
  white-space: nowrap;
}

.table th:first-of-type {
  border-radius: 0 4px 0 0;
}

.table th:last-of-type {
  border-radius: 4px 0 0 0;
}

.table-responsive {
  overflow-x: visible;
  overflow-y: auto;
  position: relative;
}

.table td,
.table th {
  text-align: center;
}

.table-pagination li {
  border-left: 1px solid #dee2e6;
}

.table-pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 1;
  padding: 0 .5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.table-pagination li a span {
  font-size: 15px;
}

.table-pagination li a.page-link {
  font-size: 12px;
  color: rgba(39, 44, 51, 0.7);
  background: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
}

.table-pagination li a.page-link:after {
  margin-left: none;
  margin-right: .255em;
  display: inline-block;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.table-pagination li.pagination-dropdown .dropdown-menu {
  left: unset;
  right: 0;
}

.table-pagination li.pagination-dropdown .dropdown-menu:after {
  display: none;
}

.table-pagination li.pagination-dropdown .dropdown-menu .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .2rem 1rem;
  font-size: 16px;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: bold;
}

.table-pagination li.pagination-dropdown .dropdown-menu .dropdown-item.active {
  background: none;
  color: rgba(39, 44, 51, 0.7);
}

.table-pagination li.pagination-dropdown .dropdown-menu .dropdown-item.active:after {
  content: "";
  position: absolute;
  right: -1px;
  top: 0;
  bottom: 0;
  width: 4px;
  border-radius: 1px;
  background-color: #4aa2ee;
}

.table-pagination li.disabled a {
  color: #c9c9c9;
  cursor: default;
  pointer-events: none;
}

.table-pagination li:last-child {
  border-left: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.tooltip {
  right: calc(100% - 5px);
  left: unset !important;
}

.tooltip-inner {
  -webkit-box-shadow: 0 2px 1px -1px rgba(39, 44, 51, 0.1), 0 1px 1px 0 rgba(39, 44, 51, 0.04), 0 1px 3px 0 rgba(39, 44, 51, 0.02);
          box-shadow: 0 2px 1px -1px rgba(39, 44, 51, 0.1), 0 1px 1px 0 rgba(39, 44, 51, 0.04), 0 1px 3px 0 rgba(39, 44, 51, 0.02);
  background: #fff;
  color: #272c33;
  white-space: nowrap;
}

.tooltip.show {
  opacity: 1;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: #fff;
}

.accent {
  background-color: #00bbc1;
}

.primary {
  background-color: #5567ff;
}

.secondary {
  background-color: #868e96;
}

.text-accent {
  color: #00bbc1;
}

.text-primary {
  color: #5567ff !important;
}

.text-secondary {
  color: #868e96;
}

.mt-2-rem {
  margin-top: 2rem;
}

.transition {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.active {
  visibility: visible;
  position: relative;
  opacity: 1;
}

.hide-bottom {
  -webkit-animation: hide-bottom .5s;
          animation: hide-bottom .5s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0.55, 0.84);
          animation-timing-function: cubic-bezier(1, 0, 0.55, 0.84);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.show-bottom {
  -webkit-animation: show-bottom .5s;
          animation: show-bottom .5s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0.55, 0.84);
          animation-timing-function: cubic-bezier(1, 0, 0.55, 0.84);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hide-scale {
  -webkit-animation: hide-scale .5s;
          animation: hide-scale .5s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0.55, 0.84);
          animation-timing-function: cubic-bezier(1, 0, 0.55, 0.84);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.show-scale {
  -webkit-animation: show-scale .5s;
          animation: show-scale .5s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0.55, 0.84);
          animation-timing-function: cubic-bezier(1, 0, 0.55, 0.84);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loading-background {
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.loading-background img {
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.size-notice {
  position: relative;
  top: 8px;
  color: #f1a700;
  cursor: help;
}

.sizeTooltip {
  position: absolute;
  top: 0;
  left: 12px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 35px;
  background: #404040;
  color: white;
  border-radius: 15px;
  padding: 5px 12px;
  width: 250px;
  max-width: 250px;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  text-align: center;
  direction: rtl;
  white-space: pre-wrap;
  z-index: 10;
}

.sizeTooltip:after {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background: #404040;
}

.layout .drawer {
  width: 256px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 3;
}

.layout .drawer .drawer-content {
  position: fixed;
}

.layout .drawer .drawer-content .sidebar {
  position: relative;
  width: 256px;
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
  overflow-y: auto;
}

.layout .drawer .drawer-content .sidebar .sidebar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(39, 44, 51, 0.7);
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layout .drawer .drawer-content .sidebar .sidebar-toggler:hover {
  color: rgba(6, 7, 8, 0.7);
}

.layout .drawer .drawer-content .sidebar .sidebar-brand {
  color: #272c33;
  height: auto;
  line-height: 2rem;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem 0;
  font-weight: 500;
  font-size: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-weight: 400;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.layout .drawer .drawer-content .sidebar .sidebar-brand .sidebar-brand-icon {
  margin-left: 0;
  margin-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
}

.layout .drawer .drawer-content .sidebar .sidebar-account {
  -webkit-box-shadow: 0 2px 1px -1px rgba(39, 44, 51, 0.1), 0 1px 1px 0 rgba(39, 44, 51, 0.04), 0 1px 3px 0 rgba(39, 44, 51, 0.02);
          box-shadow: 0 2px 1px -1px rgba(39, 44, 51, 0.1), 0 1px 1px 0 rgba(39, 44, 51, 0.04), 0 1px 3px 0 rgba(39, 44, 51, 0.02);
  border-radius: 100px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.layout .drawer .drawer-content .sidebar .sidebar-account .nav-link img {
  margin-left: .5rem;
}

.layout .drawer .drawer-content .sidebar .sidebar-account .dropdown-toggle:after {
  display: none;
}

.layout .drawer .drawer-content .sidebar .search-form {
  position: relative;
  border-radius: 100px;
}

.layout .drawer .drawer-content .sidebar .search-form .material-icons {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.layout .drawer .drawer-content .sidebar .sidebar-heading {
  line-height: 1.5rem;
  font-size: .875rem;
  margin-bottom: .5rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 500;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu {
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item {
  margin-left: 1rem;
  border-radius: 10px 0 0 10px;
  position: relative;
  overflow: hidden;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 40px;
  padding: 0 1.5rem;
  padding-left: .5rem;
  font-size: 14px;
  color: rgba(47, 55, 64, 0.4);
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-icon {
  vertical-align: middle;
  font-size: 24px;
  display: inline-block;
  line-height: normal;
  position: relative;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-icon--right {
  margin-left: .5rem;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-toggle-icon {
  color: rgba(0, 0, 0, 0.24);
  -webkit-transform: translate(0) rotateZ(0);
          transform: translate(0) rotateZ(0);
  position: relative;
  font-size: 1.25rem;
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-toggle-icon:before {
  font-family: Material Icons;
  content: "\e5cb";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: inherit;
  color: inherit;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button:hover {
  text-decoration: none;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button:hover .sidebar-menu-toggle-icon {
  color: #8a9199;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-submenu .mini-submenu-title {
  display: none;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-text {
  padding-right: 1.25rem;
  position: relative;
  border-right: 1px solid #e9edf2;
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-text:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #00bcc2;
  display: none;
  right: -4px;
  top: 12px;
  border-radius: 100%;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item:first-child {
  padding-top: 0;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item.active .sidebar-menu-button {
  color: #8a9199;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item.active .sidebar-menu-button .sidebar-menu-text:after {
  display: block;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sm-indent .sidebar-menu-item .sidebar-menu-button {
  padding-right: 2.1875rem;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item.active > .sidebar-menu-button {
  color: #8a9199;
  font-weight: 500;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item.open {
  background: #f5f7fa;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item.open .sidebar-menu-button .sidebar-menu-toggle-icon {
  -webkit-transform: translate(0) rotateZ(-90deg);
          transform: translate(0) rotateZ(-90deg);
  color: #8a9199;
}

.layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item.open .sidebar-submenu {
  display: block;
}

.layout .drawer .drawer-content .sidebar.sidebar-right {
  border-left: 1px solid #e5e5e5;
}

.layout .drawer .drawer-content .sidebar.sidebar-light {
  -webkit-box-shadow: 0 3px 3px -2px rgba(39, 44, 51, 0.1), 0 3px 4px 0 rgba(39, 44, 51, 0.04), 0 1px 8px 0 rgba(39, 44, 51, 0.02);
          box-shadow: 0 3px 3px -2px rgba(39, 44, 51, 0.1), 0 3px 4px 0 rgba(39, 44, 51, 0.04), 0 1px 8px 0 rgba(39, 44, 51, 0.02);
  background: #fff;
  color: rgba(0, 0, 0, 0.54);
}

.layout .drawer .drawer-content .sidebar.sidebar-light .sidebar-heading {
  color: #949799;
}

.layout .drawer .drawer-content .sidebar.sidebar-light .sidebar-menu .sidebar-menu-item .sidebar-menu-button {
  color: rgba(47, 55, 64, 0.4);
}

.layout .drawer .drawer-content .sidebar.sidebar-light .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-icon {
  color: rgba(47, 55, 64, 0.2);
}

.layout .drawer .drawer-content .sidebar.sidebar-light .sidebar-menu .sidebar-menu-item .sidebar-menu-button:hover {
  color: #8a9199;
  background: transparent;
}

.layout .drawer .drawer-content .sidebar.sidebar-light .sidebar-menu .sidebar-menu-item .sidebar-menu-button:hover .sidebar-menu-icon {
  color: #8a9199;
}

.layout .drawer .drawer-content .sidebar.sidebar-light .sidebar-menu .sidebar-menu-item.active > .sidebar-menu-button {
  color: #8a9199;
}

.layout .drawer .drawer-content .sidebar.sidebar-light .sidebar-menu .sidebar-menu-item.active > .sidebar-menu-button .sidebar-menu-icon {
  color: #8a9199;
}

.layout .drawer .drawer-content .sidebar.sidebar-light .sidebar-menu .sidebar-menu-item.open .sidebar-menu-button {
  background: transparent;
}

.layout .drawer .drawer-content .sidebar::-webkit-scrollbar {
  display: none;
}

.layout .drawer .drawer-content .sidebar-secondary {
  display: none;
  position: fixed;
  height: 100vh;
  width: 255px;
  right: 64px;
  top: 0;
  padding-top: 1.5rem;
  border-left: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 3px 3px -2px rgba(39, 44, 51, 0.1), 0 3px 4px 0 rgba(39, 44, 51, 0.04), 0 1px 8px 0 rgba(39, 44, 51, 0.02);
          box-shadow: 0 3px 3px -2px rgba(39, 44, 51, 0.1), 0 3px 4px 0 rgba(39, 44, 51, 0.04), 0 1px 8px 0 rgba(39, 44, 51, 0.02);
  background: #fff;
  z-index: 1;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.layout-mini .layout .drawer {
  width: 64px;
}

.layout-mini .layout .drawer .drawer-content .sidebar {
  width: 64px;
  overflow-y: auto;
  overflow-x: visible;
  z-index: 2;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-toggler {
  position: relative;
  top: unset;
  left: unset;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-brand {
  display: none;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-heading {
  display: none;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-account {
  width: auto;
  margin-right: .25rem;
  margin-left: .25rem;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-account .nav-link {
  padding: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-account .nav-link img {
  margin-left: 0;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-account .nav-link .account-info {
  display: none !important;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-account .nav-link .material-icons {
  display: none;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-account .account-dropdown-menu {
  display: none !important;
}

.layout-mini .layout .drawer .drawer-content .sidebar .search-form {
  display: none;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-menu {
  z-index: 1;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item {
  margin-left: 0;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button {
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-text {
  display: none;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-icon--right {
  margin-left: 0;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-toggle-icon {
  display: none;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item .submenu-container {
  display: none;
}

.layout-mini .layout .drawer .drawer-content .sidebar .sidebar-menu .sidebar-menu-item.open {
  background: none;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary {
  display: block;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .15s, visibility .15s;
  transition: opacity .15s, visibility .15s;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-heading {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #949799;
  line-height: 1.5rem;
  font-size: .875rem;
  margin-bottom: .5rem;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu {
  margin-bottom: 0;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item {
  margin-left: 1rem;
  border-radius: 10px 0 0 10px;
  background: #f5f7fa;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-menu-button {
  position: relative;
  padding-right: 1.5rem;
  padding-left: .5rem;
  line-height: 40px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(39, 44, 51, 0.7);
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-icon {
  color: #8a9199;
  margin-left: .5rem;
  vertical-align: middle;
  font-size: 24px;
  display: inline-block;
  line-height: normal;
  position: relative;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-toggle-icon {
  color: #8a9199;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .15s;
  transition: .15s;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-toggle-icon:before {
  content: "\e5cb";
  font-family: 'Material Icons';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: inherit;
  color: inherit;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-submenu {
  display: block;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item .sidebar-menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(47, 55, 64, 0.4);
  line-height: 32px;
  font-size: 14px;
  padding-right: 1.5rem;
  padding-left: .5rem;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item .sidebar-menu-button .sidebar-menu-text {
  position: relative;
  padding-right: 1.25rem;
  border-right: 1px solid #e9edf2;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item .sidebar-menu-button.active {
  color: #8a9199;
  font-weight: bold;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item .sidebar-menu-button.active .sidebar-menu-text:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #00bcc2;
  right: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100%;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item .sidebar-menu-button:hover {
  color: #8a9199;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane .sidebar-menu .sidebar-menu-item .sidebar-submenu .sidebar-menu-item:last-child {
  padding-bottom: .75rem;
}

.layout-mini .layout .drawer .drawer-content .sidebar-secondary .tab-pane.active {
  visibility: visible;
  opacity: 1;
}

.layotu-mobile .layout .drawer {
  margin-right: -100%;
}

.sidebar-m-b {
  margin-bottom: 1.5rem;
}

.sidebar-p-r {
  padding-right: 1.5rem;
  padding-left: 2.5rem;
}

.navbar {
  min-height: 64px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-shadow {
  -webkit-box-shadow: 0 6px 6px -3px rgba(39, 44, 51, 0.1), 0 10px 14px 1px rgba(39, 44, 51, 0.04), 0 4px 18px 3px rgba(39, 44, 51, 0.02);
          box-shadow: 0 6px 6px -3px rgba(39, 44, 51, 0.1), 0 10px 14px 1px rgba(39, 44, 51, 0.04), 0 4px 18px 3px rgba(39, 44, 51, 0.02);
}

.navbar-nav .nav-link {
  font-size: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 500;
  position: relative;
  padding: 0;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .nav-link {
  height: 64px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(39, 44, 51, 0.5);
}

.navbar-light .navbar-text-100 {
  color: #272c33;
}

.navbar-light .navbar-text-50 {
  color: rgba(39, 44, 51, 0.5);
}

.navbar-light .badge-notifications {
  border: 1px solid #fff;
}

.navbar-toggler {
  border: none;
  width: 64px;
  height: 64px;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.navbar .ps {
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-light .navbar-search {
  background-color: #edf0f2;
  border-color: #edf0f2;
}

.navbar-light .navbar-search .form-control {
  color: #272c33;
}

.navbar .header-sidebar-toggler {
  display: none;
  height: 64px;
  width: 64px;
  min-width: 64px;
  border: none;
  outline: none;
  font-size: 18px;
}

.settings-dropdown .dropdown-item {
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.settings-dropdown .dropdown-item.active {
  background: none;
  color: rgba(39, 44, 51, 0.7);
}

.settings-dropdown .dropdown-item.active:after {
  content: "";
  position: absolute;
  right: -1px;
  top: 0;
  bottom: 0;
  width: 4px;
  border-radius: 1px;
  background-color: #4aa2ee;
}

.toast-list {
  z-index: 999999999;
  direction: rtl;
  position: fixed;
  top: 10px;
  right: 20px;
  width: 400px;
}

.toast-list .toast-item {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  border-right: 5px solid #444;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  background: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-bottom: .5rem;
}

.toast-list .toast-item .icon-container {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
}

.toast-list .toast-item .icon-container .icon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #fff;
}

.toast-list .toast-item .icon-container .icon svg {
  color: #fff;
  fill: #fff;
}

.toast-list .toast-item .toast-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.toast-list .toast-item .toast-content .title {
  font-weight: bold;
  font-size: 14px;
}

.toast-list .toast-item .toast-content .content {
  font-size: 13px;
  color: #666;
}

.toast-list .toast-item .close {
  background: none;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  font-size: 25px;
  opacity: 1;
}

.toast-list .toast-item .close svg {
  color: #aaa;
}

.toast-list .toast-item:hover {
  opacity: 1 !important;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.toast-list .toast-item.close-toast {
  opacity: 0 !important;
  visibility: hidden !important;
}

@media (min-width: 992px) {
  .pl-lg-16pt {
    padding-right: 1rem !important;
  }
}

@media (max-width: 768px) {
  .layout .drawer {
    position: fixed;
  }
  .layout .page-content {
    margin-right: 64px;
  }
}

@media (max-width: 576px) {
  .layout .drawer {
    margin-right: -100%;
  }
  .layout .drawer .drawer-content .sidebar .sidebar-toggler {
    display: none;
  }
  .layout .drawer .drawer-content .sidebar-secondary {
    margin-right: -100%;
  }
  .layout .page-content {
    margin-right: 0;
  }
  .page-content .navbar .header-sidebar-toggler {
    display: block;
  }
}

.post-submit-button {
  width: 92px !important;
}

.submit-block-button {
  width: 105px;
}

.edit-block-button {
  width: 109px;
}

.selected-post-content h5 {
  margin: 0 2rem;
}

.selected-post-content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 2rem;
}

.post-content-cell {
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.tow-line-limit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.service-submit-button {
  width: 103px;
}

.service-edit-button {
  width: 125px;
}
/*# sourceMappingURL=style.css.map */