.Pagination {
    width: 100%;
    background: red;
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 15px;
        li {
            height: 100%;
            border-radius: 0;
            border-left: 1px solid #dee2e6;
            margin: 0;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                padding: 0 .5rem;
                background: none;
                border: none;
                outline: none;
                border-radius: none;
                box-shadow: none;
                line-height: 15px;
                cursor: pointer;
                .SmallIcon {
                    font-size: 12px;
                }
                &.disabled {
                    color: #c9c9c9;
                    cursor: default;
                    pointer-events: none;
                    user-select: none;
                }
                &:hover {
                    color: #5567ff;
                }
            }
            &:last-of-type {
                border-left: none;
            }
        }
    }
}