.Input {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    width: 100%;
    .InputContainer {
      width: 25%;
      margin-left: 1rem;
      margin-bottom: .5rem;
      position: relative;
      .InputElement {
        border: 2px solid #edf0f2;
        background: #edf0f2;
        display: block;
        height: calc(1.5em + .75rem + 2px);
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        outline: none;
        &:focus {
          border-bottom-color: #5567ff;
          & ~ .DeleteButton {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      .DeleteButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        background: #f4511e;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        transform: translate(-40%, -40%);
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        .CloseIcon {
          font-size: 14px;
        }
      }
      &:hover {
        .DeleteButton {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .AddButton {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 38px;
      height: 38px;
    }
  }