.Sidebar {
  background: #fff;
  box-shadow: 0 3px 3px -2px rgba(39, 44, 51, 0.1), 0 3px 4px 0 rgba(39, 44, 51, 0.04), 0 1px 8px 0 rgba(39, 44, 51, 0.02);
  z-index: 1;
  display: flex;
  flex-direction: column;
  grid-row: 2/11;
  grid-column: 1/4;

  .ListHeader {
    font-size: 15px;
    color: #8894a1;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;

    span {
      flex: 1 0 0;
      background: #8894a1;
      height: 1px;
      margin-right: .5rem;
    }
  }

  .SidebarList {
    padding: 0 1rem .5rem;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      border-radius: 0;
      height: 40px;

      button {
        width: 100%;
        height: 100%;
        padding: .25rem .5rem;
        background: none;
        border: none;
        color: #6b727c;
        text-align: right;
        outline: none;
        font-size: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          background: #f8f8f8;
        }
      }

      &.active button {
        color: #636b74;
        background: #efefef;
        font-weight: bold;
      }
    }
  }

  .FolderList {
    flex: 1;
    overflow-y: auto;
    padding: 0 .5rem;

    .FolderItem {
      list-style: none;
      margin: 0;
      padding: 0;
      border-radius: 0;

      .FolderContent {
        width: 100%;
        padding: .5rem;
        background: none;
        border: none;
        color: #6b727c;
        text-align: right;
        outline: none;
        font-size: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .FolderIcon {
          font-size: 22px;
        }
      }

      &.active button {
        color: #636b74;
        font-weight: bold;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: #eee;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 2px;
    }
  }
}