.SlideshowTrigger {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 70px;
    position: relative;

    button {
        border: none;
        outline: none;
        color: #fff;
        width: 90px;
        height: 60px;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
    }

    .AddButton {
        position: relative;
        background: #ddd;
        transition: .3s;

        .AddIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: #fff;
            transition: .3s;
            font-size: 40px;
        }

        &:hover {
            background: #ccc;
        }
    }

    .EditButton {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .EditIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: #fff;
            transition: .3s;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .2);
            transition: .3s;
        }

        &:hover {
            .EditIcon {
                color: #03a9f4;
                // opacity: 0;
            }

            &:before {
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .DeleteButton {
        color: #fff;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background: #f4511e;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(45%, -45%);
        cursor: pointer;

        .DeleteIcon {
            font-size: 14px;
        }
    }
}