.Layout {
    display: flex;
    height: 100vh;
    .ContentContainer {
        flex: 1;
        overflow-y: auto;
        .PageContainer {
            width: 80%;
            padding-top:50px;
            margin: auto;
            .PageHeading {
                color: rgb(33, 37, 41);
                font-family: IRANSans;
                font-weight: normal;
                margin-bottom: 2rem;
                .Title {
                  margin-bottom: .75rem;
                  margin-top: 0;
                  font-size: 24px;
                  font-weight: 450;
                }
                .SubTitle{ 
                  margin-top: -.75rem;
                  margin-bottom: .7rem;
                  font-weight: normal;
                  font-size: 16px;
                }
              }
              .Content {
                display: flex;
                position: relative;
                flex-direction: column;
                background-color: #fff;;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
                .ContentBody {
                  flex: 1 1 auto;
                  min-height: 1px;
                }
              }
        }
    }
}