@import "settings";

@mixin btnMixin($name , $color ,$hoveColor) {
	.btn-#{$name} {
		background-color: $color;
		color: white;
		border: 1px solid $color;
		transition: all .2s ease;
		&:hover {
			border: 1px solid #{$hoveColor};
			background-color: #{$hoveColor};
			color: white;
		}
		&:focus {
			box-shadow: none;
			transform: scale(1);
		}
		&-outline {
			background-color: transparent;
			border: 1px solid $color;
			color: $color;
			transition: all .2s ease;
			&:hover {
				background-color: $color;
				color: white;
				transform: scale(0.95);
			}
			&:focus {
				box-shadow: none;
				transform: scale(1);
			}
		}
	}
}

@include btnMixin(accent,$accent,$_accent);
@include btnMixin(primary,$primary,$_primary);
@include btnMixin(secondary,$secondary,$_secondary);

.btn {
	font-family: 'iranSans';
	display: inline-flex;
	justify-content: center;
	&-link {
		color: $secondary;
		&:hover {
			color: $_secondary;
		}
	}
	&-rounded {
		border-radius: 100px;
	}
	&-disabled {
		pointer-events: none;
		opacity: .5;
	}
	&-block {
		width: 100%;
	}
}
