@import "keyframes";
@import "settings";
@import "buttons";
@import "inputs";
@import "./fileManager/FileManager";
@import './sliderPicker/SliderPicker';
@import "./components/Spinner";
@import "./components/Icons";
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	direction: rtl;
	background-color: #f5f7fa;
}

.dir-ltr {
	direction: ltr;
}

* {
	font-family: IRANSans;
	box-sizing: border-box;
}

ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
a {
	color: rgba(39, 44, 51, .7);
	&:hover {
		text-decoration: none;
	}
}
button {
	outline: 0 !important;
}


.hide {
	display: none;
}

.layout {
	display: flex;
	height: auto;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	text-align: initial;
	overscroll-behavior: none;

	.page-content {
		flex-grow: 1;
		width: calc(100% - 256px);
		transition: .5s;
		.content {
			padding-top: 50px;
			width: 80%;
			margin: auto;
		}
	}
}

// bootstrap classes custom
// dropdown
.dropdown-notifications .dropdown-toggle {
	display: flex;
	background: none;
	border: none;
	outline: none;
}
.dropdown-toggle-rtl:after {
	margin-left: 0;
	margin-right: .255em;
}
.dropdown-notifications .dropdown-toggle:after {
	display: none;
}
.dropdown-notifications .dropdown-toggle .material-icons {
	font-size: 2rem;
}
.badge-notifications {
	border-radius: 100px;
	padding: 0 .5rem;
	line-height: 1rem;
	font-weight: 700;
}
.badge-accent {
	color: #fff;
	background-color: #00bcc2;
}
.dropdown-notifications .badge-notifications {
	position: relative;
	display: block;
	margin-right: -.75rem;
}

.dropdown-menu {
	text-align: right;
	box-shadow: 0 5px 5px -3px rgba(39, 44, 51, 0.2), 0 8px 10px 1px rgba(39, 44, 51, 0.14),
		0 3px 14px 2px rgba(39, 44, 51, 0.12);
	display: block;
	visibility: hidden;
	opacity: 0;
	margin-top: 0 !important;
	-webkit-transition: opacity .2s cubic-bezier(.3, .5, .5, 1), margin .2s cubic-bezier(.1, .3, .8, 1),
		visibility .3s ease;
	transition: opacity .1s cubic-bezier(.3, .5, .5, 1), margin .2s cubic-bezier(.1, .3, .8, 1), visibility .3s ease;
	background-clip: initial;
	border: none !important;
}
// for dropdowns in table actions
table .dropdown-menu.show {
	transform: unset !important;
}

.dropdown-notifications .dropdown-menu {
	width: 300px;
}
.dropdown-notifications .dropdown-menu .unread-indicator {
	display: inline-block;
	content: "";
	width: .5rem;
	height: .5rem;
	border-radius: 100%;
}
.dropdown-menu.show,
.show > .dropdown-menu {
	visibility: visible;
	opacity: 1;
	margin-top: .5rem !important;
}
.dropdown-menu:after {
	border: 8px solid transparent;
	border-bottom-color: #fff;
	content: "";
	height: 0;
	right: 10px;
	opacity: 0;
	-webkit-transition: opacity .1s cubic-bezier(.3, .5, .5, 1);
	transition: opacity .1s cubic-bezier(.3, .5, .5, 1);
	position: absolute;
	top: calc(-8px + -.5rem);
	width: 1px;
}
.dropdown-menu-right {
	left: 0;
	right: auto;
}
.dropdown-menu-right:after {
	right: auto;
	left: 10px;
}
.dropdown-menu-top {
	top: unset !important;
	bottom: 100% !important;
}
.dropdown-menu-top:after {
	left: 10px;
	right: unset;
	top: unset;
	bottom: calc(-8px + -.5rem);
	border-top-color: #fff;
	border-bottom-color: transparent;
}
.dropdown-menu-top.show,
.show > .dropdown-menu-top {
	margin-bottom: 1.2rem;
}
.dropdown-menu.show:after,
.show > .dropdown-menu:after {
	opacity: 1;
}
.dropdown-header {
	color: #272c33;
	font-weight: 500;
	padding: .5rem 1rem;
}
.dropdown-item {
	display: -webkit-box;
	display: flex;
	align-items: center;
	padding: .2rem 1rem;
	color: rgba(39, 44, 51, .7);
}
.dropdown-notifications .dropdown-menu .list-group-item {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	border-color: rgba(39, 44, 51, .05);
}

// avatar
.avatar {
	font-size: 1rem;
	display: inline-block;
	width: 3rem;
	height: 3rem;
	position: relative;
	z-index: 0;
}
.avatar-xs {
	font-size: .54167rem;
	width: 1.625rem;
	height: 1.625rem;
}
.avatar-title {
	font-size: .707rem;
	font-weight: 500;
}

// filters
.filter-box input.form-control {
	height: 33px;
	padding-top: .3rem;
	padding-bottom: .3rem;
	font-size: 14px;
}
.filter-box select.form-control {
	height: 33px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 13px;
}
.filter-box .btn {
	height: 33px;
	line-height: 33px;
	padding-top: 0;
	padding-bottom: 0;
}

.filter-title {
	color: rgba(39, 44, 51, .7);
	font-size: 12px;
	margin-left: .33333rem;
	white-space: nowrap;
}

.filter-input-container {
	height: 33px;
}

// custom select
.custom-select {
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	display: inline-block;
	height: 33px;
	padding: 0 .75rem 0 1.75rem;
	font-size: 13px;
	line-height: 1.5;
	color: #272c33;
	vertical-align: middle;
	background: #edf0f1
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
		no-repeat left 0.75rem center/8px 10px;
	border: 1px solid #edf0f2;
	border-radius: .25rem;
	appearance: none;
}

// search form

.search-form {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	background-color: #edf0f2;
	border: 1px solid #edf0f2;
	border-radius: .25rem;
}
.search-form .btn + .form-control {
	padding-right: 0;
}
.search-form .form-control {
	border-color: transparent;
	box-shadow: none;
	background-color: transparent;
}

.search-form--light {
	background-color: #edf0f2;
	border-color: #edf0f2;
}
.search-form .material-icons {
	padding: 0 .75rem;
	font-size: 1.063rem;
	color: rgba(39, 44, 51, .4);
}
// global classes

.ps {
	overflow: hidden !important;
	overflow-anchor: none;
	touch-action: auto;
}

.bg-body {
	background-color: #f5f7fa !important;
}
.bg-accent {
	background-color: #00bcc2 !important;
}

.border-right-2 {
	border-right: 2px solid #e9edf2 !important;
}

.flex {
	display: flex;
	flex: 1 1 0% !important;
}

.ml-8pt {
	margin-left: .5rem !important;
}
.ml-16pt {
	margin-left: 1rem !important;
}
.mr-8pt {
	margin-right: .5rem !important;
}
.mr-16pt {
	margin-right: 1rem !important;
}
.mx-16pt {
	margin-right: 1rem !important;
	margin-left: 1rem !important;
}
.mb-16pt {
	margin-bottom: 1rem !important;
}
.pr-0 {
	padding-right: 0 !important;
}
.pl-0 {
	padding-left: 0 !important;
}

.left-0 {
	left: 0;
}
.right-0 {
	right: 0;
}
.top-0 {
	top: 0;
}
.bottom-0 {
	bottom: 0;
}

.font-size-16pt {
	font-size: 1rem !important;
}
.font-size-14pt {
	font-size: .9rem !important;
}
.font-size-12pt {
	font-size: .75rem !important;
}
.icon-16pt {
	font-size: 1rem !important;
}
.icon-24pt {
	font-size: 1.5rem !important;
}

.text-accent {
	color: #00bcc2 !important;
}
.text-black-100 {
	color: #272c33 !important;
}
.text-black-70 {
	color: rgba(39, 44, 51, .7) !important;
}
.text-black-50 {
	color: rgba(39, 44, 51, .5) !important;
}
.text-black-20 {
	color: rgba(39, 44, 51, .2) !important;
}

.mb-heading {
	padding-bottom: 2rem;
	.heading-breadcrumb {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		background-color: transparent;
		margin: 0;
		padding: 0;
		color: rgba(39, 44, 51, .5);
		font-weight: 500;
		font-size: 12px;
		.breadcrumb-item {
			padding-right: .5rem;
			padding-left: 0;
			a {
				color: rgba(39, 44, 51, .7);
				text-decoration: none;
				background-color: transparent;
			}
			&:before {
				content: "/";
				display: inline-block;
				padding-left: .5rem;
				padding-right: 0;
				color: #b8bdc2;
			}
			&:first-child {
				padding-right: 0;
				&:before {
					content: '';
				}
			}
		}
	}
}
hr.heading-seprator {
	border-top: 2px solid #e9edf2;
	margin-top: 0;
	margin-bottom: 0;
	width: 100vw;
	margin-right: -20vw;
}
.card-heading {
	margin-bottom: 1rem;
	font-size: 18px;
}

.card {
	margin-bottom: 3em;
}
.stepper-container {
	padding-top: 7rem;
	padding-right: 0;
	padding-left: 0;
	min-height: 500px;
	.stepper {
		.stepper-item {
			color: rgba(39, 44, 51, .7);
			position: relative;
			padding: 0 17px 0 0;
			margin-bottom: .5rem;
			display: flex;
			font-size: 15px;
			cursor: pointer;
			&.active {
				font-weight: bold;
				&::before {
					background-color: #4aa2ee;
					border-color: #fff;
				}
			}
			&:before {
				content: "";
				position: absolute;
				background-color: #d2d5d9;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				border: 2px solid #f5f7fa;
				right: -5px;
				top: 6px;
			}
		}
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 2px;
		height: 100%;
		background-color: #e9edf2;
		z-index: -1;
	}
}

@media (max-width: 991px) {
	.stepper-container {
		padding-top: 1rem;
		padding-bottom: 3rem;
		margin-right: 15px;
		margin-left: 15px;
		min-height: unset;
	}
}

.loader {
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	animation: is-loading 1s linear infinite;
	border: 3px solid #272c33;
	border-bottom-color: transparent;
	border-radius: 50%;
	background: transparent;
}

// tables
.table {
	th {
		background-color: #f3f3f3;
		border: 0;
		color: $secondary;
		font-size: 14px;
		white-space: nowrap;
		&:first-of-type {
			border-radius: 0 4px 0 0;
		}
		&:last-of-type {
			border-radius: 4px 0 0 0;
		}
	}
}

.table-responsive {
	overflow-x: visible;
	overflow-y: auto;
	position: relative;
	// &:before {
	// 	content: '';
	// 	height: 100%;
	// 	width: 25%;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	background: linear-gradient(to left, transparent 75%, white 100%);
	// 	background-attachment: local;
	// 	z-index: 2;
	// }
}

.table td,
.table th {
	text-align: center;
}

// table pagination
.table-pagination {
	li {
		border-left: 1px solid #dee2e6;
		a {
			display: flex;
			align-items: center;
			font-size: 13px;
			line-height: 1;
			padding: 0 .5rem;
			user-select: none;
			span {
				font-size: 15px;
			}
			&.page-link {
				font-size: 12px;
				color: rgba(39, 44, 51, .7);
				background: none;
				border: none;
				outline: none;
				box-shadow: none;
				height: 100%;
				&:after {
					// make dropup look like dropdown
					margin-left: none;
					margin-right: .255em;
					display: inline-block;
					border-top: .3em solid;
					border-right: .3em solid transparent;
					border-bottom: 0;
					border-left: .3em solid transparent;
				}
			}
		}
		&.prev-page-link {
		}
		&.next-page-link {
			a {
			}
		}
		&.pagination-dropdown {
			.dropdown-menu {
				left: unset;
				right: 0;
				&:after {
					display: none;
				}
				.dropdown-item {
					display: flex;
					align-items: center;
					padding: .2rem 1rem;
					font-size: 16px;
					font-family: Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
						Segoe UI Symbol;
					font-weight: bold;
					&.active {
						background: none;
						color: rgba(39, 44, 51, 0.7);
						&:after {
							content: "";
							position: absolute;
							right: -1px;
							top: 0;
							bottom: 0;
							width: 4px;
							border-radius: 1px;
							background-color: #4aa2ee;
						}
					}
				}
			}
		}
		&.disabled {
			a {
				color: #c9c9c9;
				cursor: default;
				pointer-events: none;
			}
		}
		&:last-child {
			border-left: none;
		}
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}
// bootstrap tooltips
.tooltip {
	right: calc(100% - 5px);
	left: unset !important;
}

.tooltip-qm {
}

.tooltip-inner {
	box-shadow: 0 2px 1px -1px rgba(39, 44, 51, .1), 0 1px 1px 0 rgba(39, 44, 51, .04),
		0 1px 3px 0 rgba(39, 44, 51, .02);
	background: #fff;
	color: #272c33;
	white-space: nowrap;
}

.tooltip.show {
	opacity: 1;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
	border-left-color: #fff;
}

.accent {
	background-color: $accent;
}
.primary {
	background-color: $primary;
}
.secondary {
	background-color: $secondary;
}
.text-accent {
	color: $accent;
}
.text-primary {
	color: $primary !important;
}
.text-secondary {
	color: $secondary;
}

.mt-2-rem {
	margin-top: 2rem;
}
.transition {
	visibility: hidden;
	position: absolute;
	opacity: 0;
}
.active {
	visibility: visible;
	position: relative;
	opacity: 1;
}
.hide-bottom {
	animation: hide-bottom .5s;
	animation-timing-function: cubic-bezier(1, 0, .55, .84);
	animation-fill-mode: forwards;
}
.show-bottom {
	animation: show-bottom .5s;
	animation-timing-function: cubic-bezier(1, 0, .55, .84);
	animation-fill-mode: forwards;
}
.hide-scale {
	animation: hide-scale .5s;
	animation-timing-function: cubic-bezier(1, 0, .55, .84);
	animation-fill-mode: forwards;
}
.show-scale {
	animation: show-scale .5s;
	animation-timing-function: cubic-bezier(1, 0, .55, .84);
	animation-fill-mode: forwards;
}

.loading-background {
	background: rgba(0, 0, 0, 0.5);
	z-index: 10000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.loading-background img {
	width: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.size-notice {
	position: relative;
	top: 8px;
	color: #f1a700;
	cursor: help;
}

.sizeTooltip {
	position: absolute;
	top: 0;
	left: 12px;
	transform: translateX(-50%);
	margin-top: 35px;
	background: #404040;
	color: white;
	border-radius: 15px;
	padding: 5px 12px;
	width: 250px;
	max-width: 250px;
	font-size: 16px;
	font-weight: 200;
	line-height: 22px;
	text-align: center;
	direction: rtl;
	white-space: pre-wrap;
	z-index: 10;
	&:after {
		content: '';
		position: absolute;
		top: -5px;
		left: 50%;
		transform: translateX(-50%) rotate(45deg);
		width: 10px;
		height: 10px;
		background: #404040;
	}
}

@import "sidebar";
@import "Header";
@import 'Toast';
@import "Responsive";
@import "../post/Post";
@import "../about_us/about_us";
@import "../services/Service";
