.navbar {
    min-height: 64px;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-shadow {
    box-shadow: 0 6px 6px -3px rgba(39,44,51,.1), 0 10px 14px 1px rgba(39,44,51,.04), 0 4px 18px 3px rgba(39,44,51,.02);
}

.navbar-nav .nav-link {
    font-size: 1rem;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
    position: relative;
    padding: 0;
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-expand .nav-link {
    height: 64px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(39, 44, 51, .5);
}
.navbar-light .navbar-text-100 {
    color: #272c33;
}
.navbar-light .navbar-text-50 {
    color: rgba(39, 44, 51, .5);
}

.navbar-light .badge-notifications {
    border: 1px solid #fff;
}

.navbar-toggler {
    border: none;
    width: 64px;
    height: 64px;
    padding: 0;
    text-align: center;
    display: inline-block;
}


.navbar .ps {
    padding-top: 3px;
    padding-bottom: 3px;
}
.navbar-light .navbar-search {
    background-color: #edf0f2;
    border-color: #edf0f2;
    .form-control {
        color: #272c33;
    }
}

// header sidebar toggler icon
.navbar .header-sidebar-toggler {
    display: none;
    height: 64px;
    width: 64px;
    min-width: 64px;
    border: none;
    outline: none;
    font-size: 18px;
}


// settings icon 

// dropdown 
.settings-dropdown {
    .dropdown-item {
        padding-top: .3rem;
        padding-bottom: .3rem;
        &.active {
            background: none;
            color: rgba(39, 44, 51, 0.7);
            &:after {
                content: "";
                position: absolute;
                right: -1px;
                top: 0;
                bottom: 0;
                width: 4px;
                border-radius: 1px;
                background-color: #4aa2ee;
            }
        }
    }
}