.form-control {
	background-color: #edf0f2;
	border: none;
	border: 2px solid #edf0f2;
	&:focus,
	&:invalid {
		background-color: #edf0f2;
		box-shadow: none;
		font-weight: 400;
	}
	&::placeholder {
		color: #aaa;
	}
	&-rounded {
		border-radius: 20rem;
	}
}
.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}

.input-group-merge {
	flex-direction: row-reverse;
	.form-control-prepended {
		padding-left: 0;
		border-left-width: 0;
		border-radius: .25rem 0 0 .25rem !important;
	}
	.input-group-prepend .input-group-text {
		border-radius: 0 .25rem .25rem 0 !important;
		border: 0;
		background-color: #edf0f2;
	}
}

.custom-control {
	label {
		right: 25px;
		&:after {
			left: 0;
			right: -1.5rem;
		}
		&:before {
			left: 0;
			right: -1.5rem;
		}
	}
}

.custom-file-label {
	&::after {
		content: "انتخاب" !important;
		background-color: #868e96;
		right: unset;
		left: -2px;
		border-radius: .25rem 0 0 .25rem;
		color: white;
		content: "Browse";
	}
}

.form-control.invalid {
	border: 1px solid #d9534f;
}

.form-control.valid {
	border: 1px solid #77c13a;
}

.form-control:focus{
	border-color: #edf0f2;
	border-bottom: 2px solid #5567ff;
}

.append-validation-icon {
	transition: .1s ease;
	&:before{
		font-family: "Material Icons";
		margin-left: 5px;
		position: relative;
		top: 2px;
	}
}
.append-validation-icon.valid ,.append-validation-icon.invalid {
	transform: translateX(-5px);
}
.append-validation-icon.valid::before {
	content: "\e876";
	color: #77c13a;
}
.append-validation-icon.invalid::before {
	content: "\e001";
	color: #d9534f;
}

.form-label {
	font-size: 14px;
	font-weight: 300;
	display: block;
}

// ck Editor validation styling 
.invalid .cke {
	border: 1px solid #d9534f;
}
.valid .cke {
	border: 1px solid #77c13a;
}

.main-menu-item {
	.level-indicator {
		position: relative;
		span {
			position: absolute;
			top: 70%;
			left: 50%;
			transform: translateX(-50%);
			height: 30%;
			width: 1px;
			background: #ced3d8;
		}
	}
}

.submenu-item {
	background: rgba(0,0,0,.03);
	.level-indicator {
		position: relative;
		span {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			width: 1px;
			background: #ced3d8;
		}
	}
	
}

.level-indicator i{
	color: #5567ff;
	z-index: 2;
}

// for url inputs 
input[name="url"],
input[name="Url"],
input[name="URL"] {
	direction: ltr;
}