@keyframes is-loading{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}


// account page keyframes

@keyframes hide-bottom {
	0% {
		opacity: 1;
		transform: translate(0%, 0%) scale(1);
		visibility: visible;
	}
	100% {
		opacity: 0;
		transform: translate(10%, 20%) scale(0.9);
		visibility: hidden;
	}
}

@keyframes show-bottom {
	0% {
		opacity: 0;
		transform: translate(10%, 20%) scale(0.9);
		visibility: hidden;
	}
	100% {
		opacity: 1;
		transform: translate(0) scale(1);
		visibility: visible;
	}
}

@keyframes hide-scale {
	0% {
		opacity: 1;
		transform: translate(0) scale(1);
		visibility: visible;
	}
	100% {
		opacity: 0;
		transform: translate(-10% , -20%) scale(1.1);
		visibility: hidden;
	}
}

@keyframes show-scale {
	0% {
		opacity: 0;
		transform: translate(-10% , -20%) scale(1.1);
		visibility: hidden;
	}
	100% {
		opacity: 1;
		transform: translate(0% , 0%) scale(1);
		visibility: visible;
	}
}



// @media(max-width: 992px) {
// 	@keyframes show-bottom {
// 		0% {
// 			opacity: 0;
// 			transform: translateX(0%) scale(0.9);
// 			visibility: hidden;
// 		}
// 		100% {
// 			opacity: 1;
// 			transform: translateX(0) scale(1);
// 			visibility: visible;
// 		}
//     }
    
//     @keyframes hide-bottom {
//         0% {
//             opacity: 1;
//             transform: translateX(0) scale(1);
//             visibility: visible;
//         }
//         100% {
//             opacity: 0;
//             transform: translateX(0) scale(0.9);
//             visibility: hidden;
//         }
//     }
// }