@media (min-width: 992px) {
    .pl-lg-16pt {
        padding-right: 1rem !important;
    }
}

// sidebar responsive
@media(max-width: 768px) {
    .layout {
        .drawer {
            position: fixed;
        }
        .page-content {
            margin-right: 64px;
        }
    }
}

@media(max-width: 576px) {
    .layout {
        .drawer {
            margin-right: -100%;
            .drawer-content {
                .sidebar {
                    .sidebar-toggler {
                        display: none;
                    }
                }
                .sidebar-secondary {
                    margin-right: -100%;
                }
            }
        }
        .page-content {
            margin-right: 0;
        }
    }
    .page-content {
        .navbar {
            .header-sidebar-toggler {
                display: block;
            }
        }
    }
}