.layout {
    .drawer {
        width: 256px;
        transition: .5s;
		z-index: 3;
        .drawer-content {
            position: fixed;
            .sidebar {
				position: relative;
                width: 256px;
                height: 100vh;
                transition: .5s;
                overflow-y: auto;
                .sidebar-toggler {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: rgba(39,44,51,.7);
					outline: none;
					display: flex;
					align-items: center;
					justify-content: center;
                    &:hover {
                        color: rgba(6,7,8,.7);;
                    }
                }
                .sidebar-brand {
                    color: #272c33;
                    height: auto;
                    line-height: 2rem;
                    margin-left: 0;
                    margin-bottom: 0;
                    flex-direction: column;
                    padding: 2.5rem 0;
                    font-weight: 500;
                    font-size: 1.625rem;
                    display: -webkit-box;
                    display: flex;
                    text-decoration: none;
                    font-weight: 400;
                    -webkit-box-align: center;
                    align-items: center;
                    .sidebar-brand-icon {
                        margin-left: 0;
                        margin-bottom: .5rem;
                        display: flex;
                        width: 45px;
                    }
                }
                .sidebar-account {
                    box-shadow: 0 2px 1px -1px rgba(39, 44, 51, .1), 0 1px 1px 0 rgba(39, 44, 51, .04), 0 1px 3px 0 rgba(39, 44, 51, .02);
                    border-radius: 100px;
                    margin-right: 1rem;
                    margin-left: 1rem;
                    .nav-link {
                        img {
                            margin-left: .5rem;
                        }
                    }
                    .dropdown-toggle:after {
                        display: none;
                    }
                }
                .search-form {
					position: relative;
					border-radius: 100px;
					.material-icons {
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
					}
                }
                .sidebar-heading {
                    line-height: 1.5rem;
                    font-size: .875rem;
                    margin-bottom: .5rem;
                    font-family: inherit;
                    text-transform: uppercase;
                    letter-spacing: normal;
                    font-weight: 500;
                    padding-right: 1.5rem;
                    padding-left: 1.5rem;
                }
                .sidebar-menu {
                    margin-bottom: 2rem;
                    padding: 0;
                    list-style: none;
                    .sidebar-menu-item {
                        margin-left: 1rem;
                        border-radius: 10px 0 0 10px;
                        position: relative;
                        overflow: hidden;
                        .sidebar-menu-button {
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            line-height: 40px;
                            padding: 0 1.5rem;
                            padding-left: .5rem;
							font-size: 14px;
							color: rgba(47, 55, 64, 0.4);
                            .sidebar-menu-icon {
                                vertical-align: middle;
                                font-size: 24px;
                                display: inline-block;
                                line-height: normal;
                                position: relative;
                            }
                            .sidebar-menu-icon--right {
                                margin-left: .5rem;
                            }
                            .sidebar-menu-toggle-icon {
                                color: rgba(0, 0, 0, .24);
                                transform: translate(0) rotateZ(0);
                                position: relative;
                                font-size: 1.25rem;
                                transition: transform .15s;
                                &:before {
                                    font-family: Material Icons;
                                    content: "\e5cb";
                                    display: -webkit-box;
                                    display: flex;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    font-size: inherit;
                                    color: inherit;
                                }
                            }
                            &:hover {
                                text-decoration: none;
                                .sidebar-menu-toggle-icon {
                                    color: #8a9199; 
                                }
                            }
                        }
                        .sidebar-submenu {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            .mini-submenu-title {
                                display: none;
                            }
                            .sidebar-menu-item {
                                .sidebar-menu-button {
                                    .sidebar-menu-text {
                                        padding-right: 1.25rem;
                                        position: relative;
										border-right: 1px solid #e9edf2;
										line-height: 30px;
										padding-top: 5px;
										padding-bottom: 5px;
                                        &:after {
                                            content: "";
                                            width: 8px;
                                            height: 8px;
                                            position: absolute;
                                            background-color: #00bcc2;
                                            display: none;
                                            right: -4px;
                                            top: 12px;
                                            border-radius: 100%;
                                        }
									}
								}
								&:first-child {
									padding-top: 0;
								}
								&.active {
									.sidebar-menu-button {
										color: #8a9199;
										.sidebar-menu-text:after {
											display: block;
										}
									}
								}
							}
						}
						.sm-indent {
							.sidebar-menu-item {
								.sidebar-menu-button {
									padding-right: 2.1875rem;
								}
							}
						}
						&.active {
							> .sidebar-menu-button {
								color: #8a9199;
								font-weight: 500;
							}
						}
						&.open {
							background: #f5f7fa;
							.sidebar-menu-button {
								.sidebar-menu-toggle-icon {
									transform: translate(0) rotateZ(-90deg);
									color: #8a9199;
								}
							}
							.sidebar-submenu {
								display: block;
							}
						}
					}
				}
				&.sidebar-right {
					border-left: 1px solid #e5e5e5;
				}
				&.sidebar-light {
					box-shadow: 0 3px 3px -2px rgba(39, 44, 51, .1), 0 3px 4px 0 rgba(39, 44, 51, .04),
						0 1px 8px 0 rgba(39, 44, 51, .02);
					background: #fff;
					color: rgba(0, 0, 0, .54);
					.sidebar-heading {
						color: #949799;
					}
					.sidebar-menu {
						.sidebar-menu-item {
							.sidebar-menu-button {
								color: rgba(47, 55, 64, .4);
								.sidebar-menu-icon {
									color: rgba(47, 55, 64, .2);
								}
								&:hover {
									color: #8a9199;
									background: transparent;
									.sidebar-menu-icon {
										color: #8a9199;
									}
								}
							}
							&.active > .sidebar-menu-button {
								color: #8a9199;
								.sidebar-menu-icon {
									color: #8a9199;
								}
							}
							&.open {
								.sidebar-menu-button {
									background: transparent;
								}
							}
						}
					}
				}
				&::-webkit-scrollbar {
					display: none;
				}
			}

			.sidebar-secondary {
				display: none;
				position: fixed;
				height: 100vh;
				width: 255px;
				right: 64px;
				top: 0;
				padding-top: 1.5rem;
				border-left: 1px solid #e5e5e5;
				box-shadow: 0 3px 3px -2px rgba(39, 44, 51, .1), 0 3px 4px 0 rgba(39, 44, 51, .04),
					0 1px 8px 0 rgba(39, 44, 51, .02);
				background: #fff;
				z-index: 1;
				transition: .2s ease;
				transform: translateX(100%);
			}
		}
	}
}

.layout-mini {
	.layout {
		.drawer {
			width: 64px;
			.drawer-content {
				.sidebar {
					width: 64px;
					overflow-y: auto;
					overflow-x: visible;
					z-index: 2;
					.sidebar-toggler {
						position: relative;
						top: unset;
						left: unset;
					}
					.sidebar-brand {
						display: none;
					}
					.sidebar-heading {
						display: none;
					}
					.sidebar-account {
						width: auto;
						margin-right: .25rem;
						margin-left: .25rem;
						.nav-link {
							padding: .25rem;
							display: flex;
							justify-content: center;
							align-items: center;
							img {
								margin-left: 0;
							}
							.account-info {
								display: none !important;
							}
							.material-icons {
								display: none;
							}
						}
						.account-dropdown-menu {
							display: none !important;
						}
					}
					.search-form {
						display: none;
					}

					.sidebar-menu {
						z-index: 1;
						.sidebar-menu-item {
							margin-left: 0;
							.sidebar-menu-button {
								padding: .5rem 0;
								display: flex;
								justify-content: center;
								align-items: center;
								.sidebar-menu-text {
									display: none;
								}
								.sidebar-menu-icon--right {
									margin-left: 0;
								}
								.sidebar-menu-toggle-icon {
									display: none;
								}
							}
							.submenu-container {
								display: none;
							}
							&.open {
								background: none;
							}
						}
					}
				}
				.sidebar-secondary {
					display: block;
					.tab-pane {
						position: absolute;
						top: 0;
						width: 100%;
						opacity: 0;
						visibility: hidden;
						transition: opacity .15s, visibility .15s;
						.sidebar-heading {
							padding-left: 1.5rem;
							padding-right: 1.5rem;
							color: #949799;
							line-height: 1.5rem;
							font-size: .875rem;
							margin-bottom: .5rem;
						}
						.sidebar-menu {
							margin-bottom: 0;
							.sidebar-menu-item {
								margin-left: 1rem;
								border-radius: 10px 0 0 10px;
								background: #f5f7fa;
								.sidebar-menu-button {
									position: relative;
									padding-right: 1.5rem;
									padding-left: .5rem;
									line-height: 40px;
									font-size: 14px;
									display: flex;
									align-items: center;
									color: rgba(39, 44, 51, 0.7);
									.sidebar-menu-icon {
										color: #8a9199;
										margin-left: .5rem;
										vertical-align: middle;
										font-size: 24px;
										display: inline-block;
										line-height: normal;
										position: relative;
									}
									.sidebar-menu-toggle-icon {
										color: #8a9199;
										transform: rotate(-90deg);
										transition: .15s;
										&:before {
											content: "\e5cb";
											font-family: 'Material Icons';
											display: flex;
											align-items: center;
											font-size: inherit;
											color: inherit;
										}
									}
								}
								.sidebar-submenu {
									display: block;
									.sidebar-menu-item {
										.sidebar-menu-button {
											display: flex;
											color: rgba(47, 55, 64, .4);
											line-height: 32px;
											font-size: 14px;
											padding-right: 1.5rem;
											padding-left: .5rem;
											.sidebar-menu-text {
												position: relative;
												padding-right: 1.25rem;
												border-right: 1px solid #e9edf2;
												font-size: 14px;
                                                font-weight: 400;
                                                white-space: nowrap;
                                                width: 100%;
                                                text-overflow: ellipsis;
											}
											
											&.active {
												color: #8a9199;
												font-weight: bold;
												.sidebar-menu-text {
													&:before {
														content: '';
														display: block;
														width: 8px;
														height: 8px;
														position: absolute;
														background-color: #00bcc2;
														right: -4px;
														top: 50%;
														transform: translateY(-50%);
														border-radius: 100%;
													}
												}
											}
											&:hover {
												color: #8a9199;
											}
										}
										&:last-child {
											padding-bottom: .75rem;
										}
									}
								}
							}
						}
						&.active {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.layotu-mobile {
	.layout {
		.drawer {
			margin-right: -100%;
		}
	}
}


.sidebar-m-b {
	margin-bottom: 1.5rem;
}
.sidebar-p-r {
	padding-right: 1.5rem;
	padding-left: 2.5rem;
}
