// toast
.toast-list {
	z-index: 999999999;
	direction: rtl;
	position: fixed;
	top: 10px;
	right: 20px;
	width: 400px;
	.toast-item {
		opacity: 0;
		display: flex;
		width: 100%;
		height: 70px;
		border-right: 5px solid #444;
		border-radius: 2px;
		overflow: hidden;
		box-shadow: 0 10px 10px rgba(0, 0, 0, .15);
		background: #fff;
		transition: all .5s;
		margin-bottom: .5rem;
		.icon-container {
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 7px;
			.icon {
				border-radius: 50%;
				width: 25px;
				height: 25px;
				background: #444;
				display: flex;
				justify-content: center;
				align-items: center;
                font-size: 12px;
                color: #fff;
				svg {
                    color: #fff;
                    fill: #fff;
				}
			}
		}
		.toast-content {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 10px;
			.title {
				font-weight: bold;
				font-size: 14px;
			}
			.content {
				font-size: 13px;
				color: #666;
			}
		}
		.close {
			background: none;
			border: none;
			outline: none;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
            font-size: 25px;
            opacity: 1;
			svg {
				color: #aaa;
			}
		}
		&:hover {
			opacity: 1 !important;
			box-shadow: 0 10px 10px rgba(0, 0, 0, .20);
		}
		&.close-toast {
			opacity: 0 !important;
			visibility: hidden !important;
		}
	}
}
