.font-size-50px {
  font-size: 50px;
}

body {
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section#form_section {
  padding: 3rem 0;
  width: 600px;
  max-width: 80vw;
  margin: auto;
  direction: rtl;
}

section#form_section .errors-container {
  width: 100%;
  border: 1px solid red;
  background-color: #fff1f1;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: red;
}

section#form_section .errors-container .error-item {
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #ffd1d1;
}

section#form_section .errors-container .error-item svg {
  margin-left: .5rem;
}

section#form_section .errors-container .error-item:last-of-type {
  margin: 0;
  border: 0;
  padding: 0;
}

section#form_section .provider .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#form_section .provider .logo img {
  margin: auto;
  width: 250px;
}

section#form_section .provider .title {
  font-family: 'DYekan';
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: -1rem;
  color: #2e3b4e;
}

section#form_section .provider form {
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  padding: 2em;
}

section#form_section .provider form label {
  display: block;
  margin-bottom: 20px;
  color: #666;
  position: relative;
  font-family: IRANSans;
}

section#form_section .provider form label input {
  margin-top: 5px;
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

section#form_section .provider form label input:focus {
  outline: none;
}

section#form_section .provider form label input:-moz-placeholder, section#form_section .provider form label input:invalid {
  box-shadow: none !important;
}

section#form_section .provider form label .invalid-text {
  float: left;
  font-size: 12px;
  color: red;
  display: none;
}

section#form_section .provider form label .fa-eye {
  position: absolute;
  bottom: 12.5px;
  left: 12.5px;
  color: #d5d5d5;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

section#form_section .provider form label .fa-eye:hover {
  color: #666;
}

section#form_section .provider form .invalid input {
  border: 1px solid red;
}

section#form_section .provider form .invalid .invalid-text {
  display: block;
}

section#form_section .provider form button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #ca2025;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: IRANSans;
  margin-top: 1em;
  cursor: pointer;
  outline: none;
}

section#form_section .provider form button:hover {
  background-color: #cc2b30;
}

section#form_section .provider form #resendCode {
  color: #ca2025;
  text-align: center;
  display: block;
  margin-top: 1rem;
  position: relative;
  cursor: pointer;
}

section#form_section .provider form #resendCode[disabled] {
  opacity: .5;
  cursor: no-drop;
}

section#form_section .provider form #resendCode span {
  font-size: 24px;
  font-weight: 900;
  display: block;
}

section#form_section .options {
  border-radius: 4px;
  padding: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

section#form_section .options button {
  background-color: #d5d5d5;
  color: #2e3b4e;
  border: none;
  padding: 10px;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#form_section .options button svg {
  margin-right: 5px;
}

section#form_section .options button:hover {
  background-color: #ccc;
}
/*# sourceMappingURL=style.css.map */