@import '../global/settings';
$blueblack: #2e3b4e;
$red: #ca2025;
$redHover: #cc2b30;

body{ 
    min-height: 100vh;
}
* {
	box-sizing: border-box;
}
section#form_section {
    padding: 3rem 0;
	width: 600px;
	max-width: 80vw;
	margin: auto;
	direction: rtl;
	.errors-container {
		width: 100%;
		border: 1px solid red;
		background-color: rgb(255, 241, 241);
		border-radius: 4px;
		padding: 1rem;
		margin-bottom: 1rem;
		color: red;
		.error-item {
			margin-bottom: .5rem;
			padding-bottom: .5rem;
			border-bottom: 1px solid rgb(255, 209, 209);
			svg {
				margin-left: .5rem;
			}
			&:last-of-type {
				margin: 0;
				border: 0;
				padding: 0;
			}
		}
	}
	.provider {
        .logo {
            display: flex;
            justify-content: center;
            img {
                margin: auto;
                width: 250px;
            }
        }
		.title {
			font-family: 'DYekan';
			font-weight: 900;
			font-size: 48px;
			margin-bottom: 10px;
			margin-top: -1rem;
			color: $blueblack;
		}
		form {
			border: 1px solid #d5d5d5;
			border-radius: 4px;
			padding: 2em;
			label {
				display: block;
				margin-bottom: 20px;
				color: #666;
				position: relative;
				font-family: IRANSans;
				input {
					margin-top: 5px;
					display: block;
					width: 100%;
					border-radius: 4px;
					border: 1px solid #ddd;
					padding: 10px;
					transition: .2s ease;
					&:focus {
						outline: none;
					}
					&:-moz-placeholder,
					&:invalid {
						box-shadow: none !important;
					}
				}
				.invalid-text {
					float: left;
					font-size: 12px;
					color: red;
					display: none;
				}
				.fa-eye {
					position: absolute;
					bottom: 12.5px;
					left: 12.5px;
					color: #d5d5d5;
					cursor: pointer;
					transition: .2s;
					&:hover {
						color: #666;
					}
				}
			}
			.invalid {
				input {
					border: 1px solid red;
				}
				.invalid-text {
					display: block;
				}
			}
			button {
				width: 100%;
				padding: 10px;
				border-radius: 4px;
				border: none;
				background-color: $red;
				color: white;
				transition: .2s;
				font-family: IRANSans;
				margin-top: 1em;
				cursor: pointer;
				outline: none;
				&:hover {
					background-color: $redHover;
				}
			}
			#resendCode {
				color: $red;
				text-align: center;
				display: block;
				margin-top: 1rem;
				position: relative;
				cursor: pointer;
				&[disabled] {
					opacity: .5;
					cursor: no-drop;
				}
				span {
					font-size: 24px;
					font-weight: 900;
					display: block;
				}
			}
		}
	}
	.options {
		border-radius: 4px;
		padding: 2em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em;
		button {
			background-color: #d5d5d5;
			color: $blueblack;
			border: none;
			padding: 10px;
			border-radius: 4px;
			transition: .2s;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				margin-right: 5px;
			}
			&:hover {
				background-color: #ccc;
			}
		}
	}
}