.InputElement {
    border: 2px solid #edf0f2;
    background: #edf0f2;
    display: block;
    width: 100%;
    height: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    &:focus {
      border-bottom-color: #5567ff;
    }
  }