li {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 1rem;
    border-radius: .5rem;
    transition: .5s;
    height: 40px;
    overflow: hidden;
    a {
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 1.5rem;
      padding-left: .5rem;
      line-height: 40px;
      text-decoration: none;
      cursor: pointer;
      .NavItemIcon {
        color: rgba(47, 55, 64, 0.2);
        margin-left: .5rem;
      }
      span {
        font-size: 14px;
        line-height: 40px;
      }
      .CevronLeftIcon {
        color: rgba(47, 55, 64, 0.2);
        margin-right: auto;
        transition: .5s;
      }
    }
    &.open {
      background: #f5f7fa;
      height: auto;
      a {
        .CevronLeftIcon {
          transform: rotateZ(-90deg);
        }
      }
    }
  }