.Footer {
    direction: ltr;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #d2e2e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    .CountContainer {
        display: flex;
        align-items: center;
        .Count {
            padding: 0 .3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}