.Profile {
    margin: 0 1rem 1rem;
    button {
        background: #fff;
        border: none;
        outline: none;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        width: 100%;
        box-shadow: 0 2px 1px -1px rgba(39, 44, 51, 0.1), 0 1px 1px 0 rgba(39, 44, 51, 0.04),0 1px 3px 0 rgba(39, 44, 51, 0.02);
        border-radius: 100px;
        cursor: pointer;
        img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            overflow: hidden;
            margin-left: .5rem;
        }
        .AccountInfo {
            margin-left: .5rem;
            div {
                color: rgba(39, 44, 51, 0.5);
                font-size: 12px;
                &:first-of-type {
                    color: #272c33;
                    font-size: 15px;
                }
            }
        }
        .DropdownToggle {
            margin-right: auto;
            display: flex;
            align-content: center;
        }
    }
}