.FiltersContainer {
  display: flex;
  align-items: center;
  width: 90%;
  overflow: hidden;

  .InputRoot {
    display: inline-block;
    width: auto;
    flex-shrink: 1;
    min-width: unset;
    margin-left: .5rem;

    .InputElement {
      font-size: 12px;
    }
  }
}