
.NavItemsListHeader {
  line-height: 1.5rem;
  font-size: .875rem;
  margin-bottom: .5rem;
  font-weight: 500;
  padding: 0 1.5rem;
  color: #949799
}
.SidebarNavList {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  flex: 1;
}