.StepContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  direction: ltr;

  .Step {
    display: flex;
    align-items: center;
    text-decoration: none;

    .StepContent {
      position: relative;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #BDBDBD;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      margin: 0 .5rem;
    }

    .StepSpacer {
      display: block;
      height: 2px;
      width: 30px;
      background-color: #BDBDBD;
    }

    &.ActiveStep {
      .StepContent {
        background-color: #4caf50;
      }
      .StepSpacer {
        background-color: #4caf50;
      }
    }

    &:first-of-type {
      .StepSpacer {
        display: none;
      }
    }
  }
}