.slider-picker {
    .picker-container {
        display: flex;
        flex-wrap: wrap;
        .picker-item {
            width: 200px;
            margin-left: 1rem;
            .image-container {
                display: inline-block;
                width: 100%;
                position: relative;
                border-radius: 4px;
                overflow: hidden;
                cursor: pointer;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: 60%;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(66,66,66,.28);
                    z-index: 1;
                    transition: .3s;
                }
                &:hover {
                    &:after {
                        background: rgba(66,66,66,0);
                    }
                }
            }
            button.add-item {
                position: relative;
                width: 100%;
                background: #989898;
                border: none;
                outline: none;
                border-radius: 4px;
                overflow: hidden;
                padding: 0;
                .fa {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                    font-size: 30px;
                }
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: 60%;
                }
            }
            .item-caption {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center ;
                span {
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                    direction: ltr;
                }
            }
        }
    }
}