.fileItemsContainer {
  display: flex;
  align-items: center;
  .FileManagerTrigger {
    display: flex;
    position: relative;
    background-color: #f5f5f5;
    width: 80px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
    margin-left: .5rem;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .text {
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: #fff;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      z-index: 1;
    }
  }
}