.ProductLinkContainer {
    width: 100%;
    border: 1px solid #ededed;
    padding: .5rem;
    margin-bottom: .5rem;

    .ProductDetailsContainer {
        width: 100%;
        position: relative;
        display: flex;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        .ImageContainer {
            width: 100px;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:before {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
        }

        .ProductDetails {
            padding: 0 .5rem;
            flex: 1;
            text-align: right;

            .Lable {
                font-size: 14px;
                color: #333;
                margin-bottom: .25rem;
            }

            .SelectedProps {
                span {
                    display: inline-block;
                    font-size: 13px;
                    color: #444;

                    &.Key {
                        padding: 0 .25rem;
                    }

                    &.Value {
                        padding: 0 .25rem;
                    }
                }
            }

            .ProductPriceContainer {
                .ProductPriceItem {
                    font-size: 14px;
                    color: #333;

                    .PriceLabel {
                        color: #444;
                        margin-left: .5rem;
                    }
                }
            }
        }

        .prodouctLinksContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            button,
            a {
                display: block;
                border: none;
                outline: none;
                background: #eee;
                color: #444;
                font-size: 13px;
                padding: .5rem 1rem;
                cursor: pointer;
                text-decoration: none;
            }

            .editProudct {
                margin-bottom: .5rem;
            }
        }
    }
}