.Profile {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    button {
        background: none;
        border: none;
        outline: none;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        border-radius: 100px;
        cursor: pointer;
        img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            overflow: hidden;
            margin-left: .5rem;
        }
        .AccountInfo {
            margin-left: 1rem;
            div {
                color: rgba(39, 44, 51, 0.5);
                font-size: 12px;
                line-height: 18px;
                &:first-of-type {
                    color: #272c33;
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }
        .DropdownToggle {
            margin-right: auto;
            display: flex;
            align-content: center;
        }
    }
}