.MultipleAsyncDropdown {
  display: flex;
  width: 100%;

  .AsyncDropdownContainer {
    position: relative;

    .AsyncDropdown {
      margin-left: .5rem;
      height: 100%;
    }

    .DeleteButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      background: #f4511e;
      border-radius: 50%;
      height: 16px;
      width: 16px;
      transform: translate(40%, -50%);
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: .5s;

      .DeleteIcon {
        font-size: 14px;
      }
    }

    &:hover {
      .DeleteButton {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}