
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	z-index: -1;
	.popup-bg {
		background: black;
		opacity: .2;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.popup-body {
		direction: ltr;
		display: flex;
		width: 900px;
		max-height: 75%;
		min-height: 500px;
		background-color: #f5f5f5;
		color: #303030;
		border-radius: 4px;
		border: 1px solid #ccc;
		position: relative;
		overflow-wrap: break-word;
		overflow-y: auto;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		// .popup-title {
		// 	padding-bottom: 1rem;
		// 	font-size: 19px;
		// 	border-bottom: 1px solid #d5d5d5;
		// }
		// .popup-content {
		// 	font-size: 15px;
		// }form-control-outline
		.popup-drawer {
			width: 220px;
			min-height: 100%;
			background: #fff;
			.popup-sidebar {
				height: 100%;
				width: 100%;
				padding: 1.5rem 1rem;
				.popup-sidebar-menu {
					margin: 0;
					padding: 0;
					li {
						a {
							display: flex;
							align-items: flex-start;
							margin-bottom: .6rem;
							color: #a9afb8;
							cursor: pointer;
							img {
								width: 20px;
								margin-right: 1rem;
							}	
							&.active {
								color: #636b74;
							}
						}
					}
				}
			}
		}
		.popup-content {
			position: relative;
			flex: 1;
			background: #f1f4f8;
			.navbar {
				width: 100%;
				display: flex;
				.breadcrumb-container {
					flex-grow: 1;
					.breadcrumb {
						background: none;
						margin-bottom: 0;
						li {
							font-size: 14px;
							color: #a7b3c2;
						}
					}
				}
				.filter-box {
					.search-group {
						position: relative;
						i {
							position: absolute;
							right: 10px;
							top: 50%;
							transform: translateY(-50%);
							color: #768292;
						}
						.form-control {
							background: none;
							border-color: #e2e7ef
						}
					}
					#video-form {
						.video-thumbnail {
							display: none;;
						}
						.upload-video-button {
							position: relative;
							transition: .5s;
							overflow: hidden;
							border: none;
							width: 116px;
							.text {
								white-space: nowrap;
							}
							check-icon {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: 5px;
								svg {
									width: 20px;
									height: 20px;
									path {
										stroke-dasharray: 120px;
										stroke-dashoffset: 120px;
										transition: .2s;
										transition-delay: .2s;
									}
								}
							}
							custom-spinner {
								position: absolute;
								display: none;
								top: 50%;
								transform: translateY(-50%);
								left: 5px;
							}
							.progress-bar {
								position: absolute;
								bottom: 0;
								left: 0px;
								width: 0;
								height: 2px;
								background: $accent;
								transition: .5s;
							}
							&.uploading {
								width: 85px;
								padding-left: 30px;
								.fa-plus {
									display: none;
								}
								custom-spinner {
									display: block;
								}
							}
							&.uploaded {
								width: 85px;
								padding-left: 30px;
								.fa-plus {
									display: none;
								}
								check-icon {
									display: block;
									svg {
										path {
											stroke-dashoffset: 0;
										}
									}
								}
							}
						}
					}
					#image-form {
						.upload-image-button {
							position: relative;
							transition: .5s;
							overflow: hidden;
							border: none;
							width: 116px;
							.text {
								white-space: nowrap;
							}
							check-icon {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: 5px;
								svg {
									width: 20px;
									height: 20px;
									path {
										stroke-dasharray: 120px;
										stroke-dashoffset: 120px;
										transition: .2s;
										transition-delay: .2s;
									}
								}
							}
							custom-spinner {
								position: absolute;
								display: none;
								top: 50%;
								transform: translateY(-50%);
								left: 5px;
							}
							.progress-bar {
								position: absolute;
								bottom: 0;
								left: 0px;
								width: 0;
								height: 2px;
								background: $accent;
								transition: .5s;
							}
							&.uploading {
								width: 85px;
								padding-left: 30px;
								.fa-plus {
									display: none;
								}
								custom-spinner {
									display: block;
								}
							}
							&.uploaded {
								width: 85px;
								padding-left: 30px;
								.fa-plus {
									display: none;
								}
								check-icon {
									display: block;
									svg {
										path {
											stroke-dashoffset: 0;
										}
									}
								}
							}
						}
					}
					#file-form {

						.file-thumbnail {
							display: none;;
						}
						.upload-file-button {
							position: relative;
							transition: .5s;
							overflow: hidden;
							border: none;
							width: 116px;
							.text {
								white-space: nowrap;
							}
							check-icon {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: 5px;
								svg {
									width: 20px;
									height: 20px;
									path {
										stroke-dasharray: 120px;
										stroke-dashoffset: 120px;
										transition: .2s;
										transition-delay: .2s;
									}
								}
							}
							custom-spinner {
								position: absolute;
								display: none;
								top: 50%;
								transform: translateY(-50%);
								left: 5px;
							}
							.progress-bar {
								position: absolute;
								bottom: 0;
								left: 0px;
								width: 0;
								height: 2px;
								background: $accent;
								transition: .5s;
							}
							&.uploading {
								width: 85px;
								padding-left: 30px;
								.fa-plus {
									display: none;
								}
								custom-spinner {
									display: block;
								}
							}
							&.uploaded {
								width: 85px;
								padding-left: 30px;
								.fa-plus {
									display: none;
								}
								check-icon {
									display: block;
									svg {
										path {
											stroke-dashoffset: 0;
										}
									}
								}
							}
						}
					}
				}
			}
			.content {
				padding-top: 0;
				width: 100%;
				max-width: 100%;
				height: calc(100% - 124px - 1rem);
				overflow-y: auto;
				padding-right: 1rem;
				padding-left: 1rem;
				display: flex;
				flex-wrap: wrap;
				margin-top: 1rem;
				.file-item {
					border: none !important;
					outline: none !important;
					box-shadow: none;
					background: none;
					text-align: left;
					padding: 0;
					width: 23%;
					margin-right: 2%;
					margin-bottom: .5rem;
					.image-container {
						width: 100%;
						position: relative;
						border: 3px solid transparent;
						border-radius: 3px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							position: absolute;
							top: 0;
							left: 0;
							border-radius: 3px;
						}
						.check  {
							position: absolute;
							top: 5px;
							right: 5px;
							border-radius: 50%;
							width: 20px;
							height: 20px;
							background: #1ab937;
							box-shadow: 0 0 3px #1ab93785;
							display: none;
							justify-content: center;
							align-items: center;
							color: #fff;
							z-index: 1;
							
						}
						&:before {
							content: '';
							display: block;
							padding-bottom: 100%;;
						}
					}
					.caption {
						position: relative;
						max-width: 100%;
						padding: .5rem;
						padding-top: .4rem;
						span {
							display: block;
							font-size: 14px;
							width: calc(100% - 1rem);
							&.file-name {
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								color: #969aa5;
							}
							&.file-size {
								color: #b3b8bd;
							}
						}
						.more-btn-container {
							position: absolute;
							width: 1rem;
							height: 100%;
							top: 0;
							right: 0;
							opacity: 0;
							visibility: hidden;
							transition: .2s;
							.more-btn {
								width: 100%;
								height: 100%;
								display: inline-block;
								padding: .5rem 0;
								cursor: pointer;
								.more-icon {
									width: 22px;
									height: 21px;
									transform: translateX(-50%);
									position: absolute;
									top: .5rem;
									left: 50%;
									opacity: 0.5;
									transition: .3s;
								}
								&:hover {
									.more-icon {
										opacity: 1;
									}
								}
							}
							.file-dropdown-menu {
								right: -0.6rem;
								left: auto;
								top: 2rem;
								bottom: unset;
								.dropdown-item {
									direction: rtl;
									display: flex;
									svg {
										height: 15px;
										width: 15px;
										margin-left: .5rem;
										fill: #7a8a9e;
									}
									&:hover {
										svg {
											fill: #515e6e;
										}
									}
								}
							}
						}
					}
					&.active {
						.image-container {
							border-color: #a2eab1;
							img {
								border-radius: 0;
							}
							.check {
								display: flex;
							}
						}
					}
					&.dropdown-open {
						.caption {
							.more-btn-container {
								visibility: visible;
								opacity: 1;
								.more-btn {
									.more-icon {
										opacity: 1;
									}
								}
							}
						}
					}
					&:hover {
						.caption {
							.more-btn-container {
								visibility: visible;
								opacity: 1;
							}
						}
					}
				}
				&::-webkit-scrollbar {
					width: 5px;
				}
				 
				&::-webkit-scrollbar-track {
					background-color: #ebebeb;
					-webkit-border-radius: 10px;
					border-radius: 10px;
				}
				
				&::-webkit-scrollbar-thumb {
					-webkit-border-radius: 10px;
					border-radius: 10px;
					background: #a5a5a5; 
				}
			}
			.footer {
				width: 100%;
				height: 60px;
				position: absolute;
				bottom: 0;
				left: 0;
				border-top: 1px solid #d2e2e9;
				display: flex;
				align-items: center;
				padding: 0 1rem;
			}
			.popup-modal {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 300px;
				background-color: #fff;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
				border-radius: 5px;
				padding: 1rem;
				text-align: right;
				visibility: hidden;
				opacity: 0;
				transition: .5s;
				.title {
					margin-bottom: .5rem;
				}
				.alt_fa_input {
					label {
						display: block;
						margin-bottom: .3rem;
					}
				}
				.alt_en_input {
					label {
						display: block;
						margin-bottom: .3rem;
					}
				}
				&.open {					
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	.file-rename-form {
		direction: ltr;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(.8);
		width: 400px;
		background-color: #f5f5f5;
		color: #303030;
		border-radius: 4px;
		border: 1px solid #ccc;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		z-index: -1;
		padding: 1rem;
		visibility: hidden;
		opacity: 0;
		transition: .3s;
		h1  {
			color: #636b74;
			font-size: 1rem;
			font-weight: 400;
		}
		.rename-submit-button {
			width: 82px;
		}
		&.show {
			transform: translate(-50%, -50%) scale(1);
			visibility: visible;
			opacity: 1;
			z-index: 1;
		}
	}
	&.show {
		opacity: 1;
		visibility: visible;
		z-index: 9;
	}
}