.SlideshowList {
    display: flex;
    align-items: center;
    list-style: none;
    .SlideshowItem {
        border-radius: 0;
        height: auto;
        display: block;
        overflow: visible;
    }
}