.FileManager {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.ml75 {
  margin-left: .75rem;
}