.Input {
  display: flex;
  margin-bottom: 1rem;

  .Label {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 20%;
  }

  .InputContainer {
    position: relative;
    width: 100%;
    padding-bottom: 1rem;

    .InputElement {
      border: 2px solid #edf0f2;
      background: #edf0f2;
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      outline: none;

      &:focus {
        border-bottom-color: #5567ff;
      }

      &:disabled {
        color: #888;
        background: none;
        border: none;
      }
    }
    .ValidationMessage {
      display: block;
      height: .5rem;
      font-size: 12px;
      color: #f44336;
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }

  textarea.InputElement {
    height: auto;
  }

  &.Invalid {
    .InputContainer {
      .InputElement {
        border-bottom: 2px solid #f44336;
      }
    }
  }
}

.Input {
  textarea.InputElement {
    height: auto;
  }
}

.TimePicker {
  direction: ltr;
}