.MultipleKeyValueInput {
  border: 1px solid #ccc;
  width: 100%;
  padding: 1rem;
}

.dFlex {
  display: flex;
}

.flexWrap {
  flex-wrap: wrap;
}

.FlexColumn {
  flex-direction: column;
}

.MB3 {
  margin-bottom: 1rem;
}

.InputElement {
  margin-left: 1rem;
  margin-bottom: 0 !important;
}

.InputItemContainer {
  position: relative;

  .DeleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: #f4511e;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    transform: translate(40%, -50%);
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

    .DeleteIcon {
      font-size: 14px;
    }
  }

  &:hover {
    .DeleteButton {
      opacity: 1;
      visibility: visible;
    }
  }

}

.InputLabel {
  margin-left: 1rem;
  padding-top: .5rem;
}

.ItemValue {
  margin-left: .5rem;
  flex-grow: 1;
}

.RemoveItemContainer {
  padding: .2rem;

  .removeItemButton {
    padding: .2rem;
    height: auto;
    margin-left: .5rem;
    background-color: #ff1744;
    border-color: #ff1744;
    cursor: pointer;
  }
}