.Dropdown {
    box-shadow: 0 5px 5px -3px rgba(39, 44, 51, 0.2), 0 8px 10px 1px rgba(39, 44, 51, 0.14), 0 3px 14px 2px rgba(39, 44, 51, 0.12);
    text-align: right;
    transition: opacity 0.1s cubic-bezier(0.3, 0.5, 0.5, 1), margin 0.2s cubic-bezier(0.1, 0.3, 0.8, 1), visibility 0.3s ease;
    border: none;
    z-index: 1000;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    position: relative;
    text-align: right;
    .DorpdownHeader {
        color: #272c33;
        font-weight: 500;
        padding: .5rem 1rem;
        display: block;
        margin-bottom: 0;
        font-size: .875rem;
        white-space: nowrap;
    }
    .DropdownItem {
        display: flex;
        align-items: center;
        padding: .2rem 1rem;
        color: rgba(39, 44, 51, 0.7);
        width: 100%;
        clear: both;
        font-weight: 400;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
    &:after {
        border: 8px solid transparent;
        border-bottom-color: transparent;
        border-bottom-color: #fff;
        content: "";
        height: 0;
        right: 10px;
        opacity: 1;
        -webkit-transition: opacity 0.1s cubic-bezier(0.3, 0.5, 0.5, 1);
        transition: opacity 0.1s cubic-bezier(0.3, 0.5, 0.5, 1);
        position: absolute;
        top: calc(-8px + -.5rem);
        width: 1px;
    }
}