.AltTitle {
  padding: 1rem 1.25rem;
}
.VideoThumbnailBox {
  width: 100%;
  display: flex;
  justify-content: center;
  video {
    width: 90%;
    margin: auto;
    outline: none;
    border: none;
  }
}
.VideoThumbnailFooter {
  width: 100%;
  padding: 0 1.25rem 1.25rem;
  direction: ltr;
}