.Modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  z-index: 3;
  .ModalBackDorp {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #222;
    opacity: .2;
  }
  .ModalContent {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 450px;
    background: #f5f5f5;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
  &.Open {
    opacity: 1;
    visibility: visible;
  }
  &.ModalInbox {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:  100%;
  }
}