.FileItems {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  overflow-y: auto;
  flex: 1 0 0;
  width: 100%;
  margin-bottom: 64px;
  .CenterBox {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #4c525a;
  }
  .ErrorBox {
    display: flex;
    align-content: center;
    direction: ltr;
    height: 25px;
    span {
      line-height: 25px;
    }
    .ErrorIcon {
      color: #d50000;
      margin-right: .3rem;
      font-size: 22px;
    }
  }
}