.post-submit-button {
    width: 92px !important;
}

.submit-block-button {
    width: 105px;
}
.edit-block-button {
    width: 109px;
}
.selected-post-content h5 {
    margin: 0 2rem;
}
.selected-post-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin: 0 2rem;
}

.post-content-cell {
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    cursor: pointer;
}