.FolderItem {
    height: 40px;
    margin: 0;
    border-radius: 0;
    transition: 0s;

    .FolderContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 34px;
        padding: .3rem .5rem;

        button {
            cursor: pointer;
            background: none;
            outline: none;
            padding: 0;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #6b727c;
            overflow: hidden;
            flex: 1;
            height: 100%;
            text-align: right;
        }
        .ArrowIcon {
            cursor: pointer;
        }
        &:hover {
            background: #ededed;
        }
    }
    .FolderName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
        font-size: 12px;
        font-weight: 400;
    }
    .ChilFoldersList {
        padding-right: .5rem;
    }
    
    .FolderIcon {
        font-size: 22px;
        margin-left: .5rem;
        height: 100%;
    }

    &.isOpen {
        height: auto;
        background: #f5f5f5;
        > .FolderContent > .ArrowIcon {
            transform: rotateZ(-90deg)
        } 
    }
}
