.Logo {
    width: 100%;
    height: 165px;
    background: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    img {
        width: 70px;
    }
}