.SelectorItem {
    width: 24%;
    margin-left: 1%;
    display: inline-block;
    margin-bottom: 1rem;

    .ImageContainer {
        width: 100%;
        position: relative;
        border: 3px solid transparent;
        border-radius: 3px;
        cursor: pointer;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .Checkbox {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 5px;
            right: 5px;
            background-color: #1ab937;
            box-shadow: 0 0 3px #1ab93785;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;
            display: none;

            .CheckIcon {
                color: #fff;
                font-size: 18px;
            }
        }

        &:before {
            content: '';
            padding-bottom: 70%;
            display: block;
        }
    }

    .SelectorItemCaption {
        text-align: right;
        width: 100%;
        font-size: 15px;
        padding: .4rem .5rem;
        overflow: hidden;
        color: #838791;

        .SelectorItemTitle {
            color: #9ba3aa;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            margin-bottom: 3px;
            font-size: 12px;
        }

        .SelectorItemName {
            font-size: 13px;
            color: #838791;
        }
    }

    &.Active {
        .ImageContainer {
            border-color: #a2eab1;

            .Checkbox {
                display: inline-block;
            }
        }
    }
}